/**
 * Fast Bee Website
 * Version: 1.1
 * Powerd by:
 * Designer: Ayat Ahmed | instagram.com/ayaat.a7med
 * Copyrights 2021
 */
/***********
*
* vars
*
***********/
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Light.otf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-SemiBold.otf");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Bold.otf");
  font-weight: bold;
  font-style: normal; }
/***********
*
* Style Functions
*
***********/
@media (max-width: 575.98px) {
  .width-xs-100 {
    width: 100%; }

  .bg-img, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap, .select2-container--default .select2-selection--single .select2-selection__arrow::before {
    background-size: cover !important; }

  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .txt-sm-center {
    text-align: center; }

  .def-border-xs-top {
    border-top: 1px solid #C0C0C0; }

  .def-border-xs-bottom {
    border-bottom: 1px solid #C0C0C0; }

  .def-border-xs-right {
    border-right: 1px solid #C0C0C0; }

  .def-border-xs-left {
    border-left: 1px solid #C0C0C0; }

  .select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above {
    width: auto !important;
    margin: auto !important;
    left: 1px !important;
    right: 1px !important;
    top: -5px !important; }

  .select2-container {
    left: auto !important; }

  .checked-list ul li {
    width: 100%; }

  .head-title .f-huge, .head-title .how-item .wrap .icon, .how-item .wrap .head-title .icon {
    font-size: 2em !important; } }
@media (min-width: 576px) {
  .project-item .content-wrapper {
    padding: 30px 20px; }
  .project-item .img {
    height: 250px; }
    .project-item .img img {
      width: 100%; }

  .checked-list ul li {
    width: 100%; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .def-border-sm-top {
    border-top: 1px solid #C0C0C0; }

  .def-border-sm-bottom {
    border-bottom: 1px solid #C0C0C0; }

  .def-border-sm-right {
    border-right: 1px solid #C0C0C0; }

  .def-border-sm-left {
    border-left: 1px solid #C0C0C0; }

  .width-xs-100 {
    width: 100%; }

  .width-sm-100 {
    width: 100%; }

  .bg-img, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap, .select2-container--default .select2-selection--single .select2-selection__arrow::before {
    background-size: cover !important; }

  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .main-footer {
    text-align: center; }

  .head-title .f-huge, .head-title .how-item .wrap .icon, .how-item .wrap .head-title .icon {
    font-size: 2em !important; } }
@media (min-width: 576px) and (max-width: 991.98px) {
  .head-title .f-huge, .head-title .how-item .wrap .icon, .how-item .wrap .head-title .icon {
    font-size: 2em !important; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .def-border-md-top {
    border-top: 1px solid #C0C0C0; }

  .def-border-md-bottom {
    border-bottom: 1px solid #C0C0C0; }

  .def-border-md-right {
    border-right: 1px solid #C0C0C0; }

  .def-border-md-left {
    border-left: 1px solid #C0C0C0; }

  .bg-img, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap, .select2-container--default .select2-selection--single .select2-selection__arrow::before {
    background-size: cover !important; }

  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }
@media (min-width: 992px) {
  .responsive-content {
    max-width: 100%; }

  .width-lg-50 {
    width: 50%; }

  .width-lg-100 {
    width: 100%; }

  .fl-lg-right {
    float: right; }

  .fl-lg-left {
    float: left; }

  .fl-lg-none {
    float: none; }

  .txt-lg-right {
    text-align: right; }

  .txt-lg-left {
    text-align: left; }

  .txt-lg-center {
    text-align: center; }

  .radius-lg-11 {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px; }

  .def-border-lg-top {
    border-top: 1px solid #C0C0C0; }

  .def-border-lg-bottom {
    border-bottom: 1px solid #C0C0C0; }

  .def-border-lg-right {
    border-right: 1px solid #C0C0C0; }

  .def-border-lg-left {
    border-left: 1px solid #C0C0C0; }

  .checked-list ul li {
    width: calc(33.33% - 20px); }

  .price-item.second .wrap {
    bottom: -150px;
    left: -50px;
    z-index: 5; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }
@media (min-width: 1200px) {
  .width-xl-100 {
    width: 100%; }

  .fl-xl-right {
    float: right; }

  .fl-xl-left {
    float: left; }

  .modal-dialog.main-modal {
    max-width: 1000px; }

  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }
@media (min-width: 1600px) {
  .responsive-content {
    max-width: 1200px; } }
/***********
*
* Style Elements
*
* Designer: Ayat Ahmed | instagram.com/ayaat.a7med
* Copyrights 2021
*
**********/
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.mouse, .butn, .closeView, .arrows .next, .arrows .prev, .aa-check, .aa-radio, input[type=radio], input[type=checkbox], .aa-check-select, .upload-area input[type=file], .upload-vid input[type=file], .upload-file input[type=file], .upload-area .del-img, .upload-area .del-vid, .upload-area .change-img, .upload-vid .del-img, .upload-vid .del-vid, .upload-vid .change-img, .upload-file .del-img, .upload-file .del-vid, .upload-file .change-img, .upload-area .del-file, .upload-vid .del-file, .upload-file .del-file, .close-menu-icon {
  cursor: pointer !important; }

.flip-y, .butn.next img {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.flip-x, .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow::before {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg); }

.text-deco-none, body, body a, html, html a {
  text-decoration: none !important; }

.jRight,
.jLeft,
.jCenter {
  text-align: justify; }

.jCenter {
  text-align-last: center; }

.txt-left, [data-toggle=collapse] .fl-left {
  text-align: left; }

.txt-right, [data-toggle=collapse] .fl-right {
  text-align: right; }

.txt-center, .butn, .popup-container .popup .content video, .popup-container .popup .content iframe, .popup-container .popup .content img, .closeView, .modal .close, .modal .close span, .arrows .next, .arrows .prev, .upload-area, .upload-vid, .upload-file, #topbar .nav-link.follow-link, .main-icon, .how-item .wrap .icon, .main-footer .follow-link, .close-menu-icon {
  text-align: center; }

.txt-uppercase {
  text-transform: uppercase; }

.f-extrahuge {
  font-size: 4.4em; }

.f-huge, .how-item .wrap .icon {
  font-size: 3em; }

.f-extrabig {
  font-size: 2.25em; }

.f-big, .butn.f-big {
  font-size: 2em; }

.f-medium, .nav-tabs .nav-link {
  font-size: 1.375em; }

.f-extramedium {
  font-size: 1.75em; }

.f-normal, #topbar .head-title, .main-footer a {
  font-size: 1em; }

.f-small, .form-group .form-control, .form-group .select2-container, .form-group .input-group-append, .form-group .input-group-prepend, .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 0.8em; }

.f-extrasmall, .count-badge {
  font-size: 9px; }

.f-light {
  font-weight: 100; }

.f-med, .butn, .form-group .input-group-append, .form-group .input-group-prepend {
  font-weight: 500; }

.f-semibold {
  font-weight: 800; }

.f-bold, #topbar .nav-link, .how-item .wrap .icon, .main-footer a {
  font-weight: bold; }

.lh-25 {
  line-height: 25px; }

.lh-30 {
  line-height: 30px; }

.lh-35 {
  line-height: 35px; }

.lh-40 {
  line-height: 40px; }

.lh-50 {
  line-height: 50px; }

.lh-60 {
  line-height: 60px; }

.lh-75 {
  line-height: 75px; }

.trans-bg, .arrows .next:hover, .arrows .prev:hover, input[type=radio]:checked, input[type=checkbox]:checked, .video-js .vjs-big-play-button::before {
  background: transparent; }

.main-bg, .main-rotate-hover::before, .butn.main-butn, .butn.main-butn.bordered:hover, .butn.main-butn.white-butn:hover, .butn.main-butn:hover, .butn.main-butn.second-butn:hover, .butn.main-butn.grey2-butn:hover, .butn.main-butn.red-butn:hover, .butn.main-butn.green-butn:hover, .butn.main-butn.font-butn:hover, .butn.main-butn.black-butn:hover, .butn.main-butn.bordered:focus, .butn.main-butn:focus:hover, .arrows .next, .arrows .prev, .aa-switch-check:checked::before, .upload-area:hover .icon, .upload-vid:hover .icon, .upload-file:hover .icon, #topbar .nav-link:hover, .close-menu-icon:hover span::before, .close-menu-icon:hover span::after, .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable, .noUi-connect, .noUi-horizontal .noUi-handle, .video-js .vjs-big-play-button {
  background: #fcc902; }

.light-bg, .butn.light-butn.bordered:hover, .butn.light-butn.white-butn:hover, .butn.light-butn.main-butn:hover, .butn.light-butn.second-butn:hover, .butn.light-butn.grey2-butn:hover, .butn.light-butn.red-butn:hover, .butn.light-butn.green-butn:hover, .butn.light-butn.font-butn:hover, .butn.light-butn.black-butn:hover, .butn.light-butn.bordered:focus {
  background: #EEEBFB; }

.second-bg, .butn.second-butn, .butn.second-butn.bordered:hover, .butn.second-butn.white-butn:hover, .butn.second-butn.main-butn:hover, .butn.second-butn:hover, .butn.second-butn.grey2-butn:hover, .butn.second-butn.red-butn:hover, .butn.second-butn.green-butn:hover, .butn.second-butn.font-butn:hover, .butn.second-butn.black-butn:hover, .butn.second-butn.bordered:focus, .butn.second-butn:focus:hover, .closeView i, .aa-switch-check::before, .top-menu .wrap {
  background: #000000; }

.red-bg, .butn.red-butn, .butn.red-butn.bordered:hover, .butn.red-butn.white-butn:hover, .butn.red-butn.main-butn:hover, .butn.red-butn.second-butn:hover, .butn.red-butn.grey2-butn:hover, .butn.red-butn:hover, .butn.red-butn.green-butn:hover, .butn.red-butn.font-butn:hover, .butn.red-butn.black-butn:hover, .butn.red-butn.bordered:focus, .butn.red-butn:focus:hover {
  background: #EC1941; }

.green-bg, .butn.green-butn, .butn.green-butn.bordered:hover, .butn.green-butn.white-butn:hover, .butn.green-butn.main-butn:hover, .butn.green-butn.second-butn:hover, .butn.green-butn.grey2-butn:hover, .butn.green-butn.red-butn:hover, .butn.green-butn:hover, .butn.green-butn.font-butn:hover, .butn.green-butn.black-butn:hover, .butn.green-butn.bordered:focus, .butn.green-butn:focus:hover, .aa-check-select:checked {
  background: #50D559; }

.orange-bg {
  background: #F5BC38; }

.yellow-bg {
  background: #EDFE00; }

.grey-bg, .form-group .form-control, .form-group .select2-container, .form-group .input-group-append .input-group-text, .form-group .input-group-prepend .input-group-text, .prices .img .before {
  background: #eae9f1; }

.grey2-bg, .butn.grey2-butn, .butn.grey2-butn.bordered:hover, .butn.grey2-butn.white-butn:hover, .butn.grey2-butn.main-butn:hover, .butn.grey2-butn.second-butn:hover, .butn.grey2-butn:hover, .butn.grey2-butn.red-butn:hover, .butn.grey2-butn.green-butn:hover, .butn.grey2-butn.font-butn:hover, .butn.grey2-butn.black-butn:hover, .butn.grey2-butn.bordered:focus, .butn.grey2-butn:focus:hover, .close-menu-icon span::before, .close-menu-icon span::after {
  background: #A7B6BF; }

.grey3-bg {
  background: #B7E0FF; }

.white-bg, .butn.white-butn, .butn.white-butn.bordered:hover, .butn.white-butn:hover, .butn.white-butn.main-butn:hover, .butn.white-butn.second-butn:hover, .butn.white-butn.grey2-butn:hover, .butn.white-butn.red-butn:hover, .butn.white-butn.green-butn:hover, .butn.white-butn.font-butn:hover, .butn.white-butn.black-butn:hover, .butn.white-butn.bordered:focus, .butn.white-butn:focus:hover, .popup-container .popup .content video, .popup-container .popup .content iframe, .popup-container .popup .content img, .form-group .form-control.white, .form-group .white.select2-container, input[type=radio], input[type=checkbox], .aa-check-select, .top-menu.light-menu .wrap {
  background: #ffffff; }

.black-bg, .black-rotate-hover::before, .butn.black-butn.bordered:hover, .butn.white-butn:hover, .butn.black-butn.main-butn:hover, .butn.main-butn.white-butn:hover, .butn.black-butn.second-butn:hover, .butn.second-butn.white-butn:hover, .butn.black-butn.grey2-butn:hover, .butn.grey2-butn.white-butn:hover, .butn.black-butn.red-butn:hover, .butn.red-butn.white-butn:hover, .butn.black-butn.green-butn:hover, .butn.green-butn.white-butn:hover, .butn.black-butn.font-butn:hover, .butn.font-butn.white-butn:hover, .butn.black-butn:hover, .butn.black-butn.bordered:focus, .butn.white-butn:focus:hover, .butn.black-butn:focus:hover {
  background: #000000; }

.font-bg, .butn.font-butn, .butn.font-butn.bordered:hover, .butn.font-butn.white-butn:hover, .butn.font-butn.main-butn:hover, .butn.font-butn.second-butn:hover, .butn.font-butn.grey2-butn:hover, .butn.font-butn.red-butn:hover, .butn.font-butn.green-butn:hover, .butn.font-butn:hover, .butn.font-butn.black-butn:hover, .butn.font-butn.bordered:focus, .butn.font-butn:focus:hover {
  background: #787788; }

.invert {
  -webkite-filter: invert(100%);
  -moz-filter: invert(100%);
  filter: invert(100%); }

.clear-both {
  clear: both; }

.delay-02 {
  animation-delay: 0.2s; }

.delay-04 {
  animation-delay: 0.4s; }

.delay-06 {
  animation-delay: 0.6s; }

.delay-08 {
  animation-delay: 0.8s; }

.delay-1 {
  animation-delay: 1s; }

.delay-12 {
  animation-delay: 1.2s; }

.delay-14 {
  animation-delay: 1.4s; }

.dis-block, .popup-container .popup .content, .popup-container .popup .content video, .popup-container .popup .content iframe, .popup-container .popup .content img, .modal .close, #topbar .nav-link, .main-icon, .top-menu .wrap a:not(.close-menu), .top-menu.full-menu.show, .close-menu-icon span {
  display: block; }

.dis-inline-block, .after, .cover::before, .rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before, .modal .close span::before, .modal .close span::after, .aa-switch-check::before, .aa-switch-check::after, .aa-check:before, .aa-radio:before, .aa-check:after, .aa-radio:after, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .before, .close-menu-icon span::before, .close-menu-icon span::after, .select2-container--default .select2-selection--single .select2-selection__arrow::before, .video-js .vjs-big-play-button::before, .rotate-hover span, .main-rotate-hover span, .black-rotate-hover span, .butn, .butn span, .modal .close span, .arrows .next, .arrows .prev, input[type=radio], input[type=checkbox], .aa-check-select, .upload-area .del-file, .upload-vid .del-file, .upload-file .del-file, #topbar .nav-link.follow-link svg, .close-menu-icon {
  display: inline-block; }

.dis-flex, [data-toggle=collapse], .rev-item .wrap {
  display: flex;
  flex-wrap: wrap; }

.dis-none, .butn .hid, .popup-container .popup, .top-menu.full-menu, .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none; }

.filter-grey {
  filter: grayscale(100%); }

.filter-none {
  filter: none; }

.alien-items-c, .rev-item .wrap {
  align-items: center; }

.pos-relative, .cover, .rotate-hover, .main-rotate-hover, .black-rotate-hover, .popup-container, .popup-container .popup .content video, .popup-container .popup .content iframe, .popup-container .popup .content img, .modal .close, .modal .close span, .form-group, .arrows, .aa-switch-check, .aa-check, .aa-radio, input[type=radio], input[type=checkbox], .aa-check-select, .upload-area, .upload-vid, .upload-file, .upload-area input[type=file], .upload-vid input[type=file], .upload-file input[type=file], .container, .container-fluid, #topbar .nav-link, .main-icon, .head-title, .about .head-title, .about .cont, .about .butns, .prices .img, .prices .img img, .price-item .wrap, .top-menu .wrap a:not(.close-menu), .close-menu-icon span, .video-js .vjs-tech {
  position: relative; }

.pos-absolute, .after, .cover::before, .rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before, .modal .close span::before, .modal .close span::after, .aa-switch-check::before, .aa-switch-check::after, .aa-check:before, .aa-radio:before, .aa-check:after, .aa-radio:after, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .before, .close-menu-icon span::before, .close-menu-icon span::after, .select2-container--default .select2-selection--single .select2-selection__arrow::before, .video-js .vjs-big-play-button::before, .count-badge, .closeView, .form-group i:not(.not), .arrows .next, .arrows .prev, .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap, .upload-area .icon-area, .upload-vid .icon-area, .upload-file .icon-area, .upload-area .del-img, .upload-area .del-vid, .upload-area .change-img, .upload-vid .del-img, .upload-vid .del-vid, .upload-vid .change-img, .upload-file .del-img, .upload-file .del-vid, .upload-file .change-img, .upload-area .file-name, .upload-vid .file-name, .upload-file .file-name, .upload-area .del-file, .upload-vid .del-file, .upload-file .del-file, .head-title .bf, .price-item .wrap .main-icon, .close-menu-icon {
  position: absolute; }

.pos-fixed, .popup-container .popup, .top-menu {
  position: fixed; }

.pos-static {
  position: static; }

.appearance-none, .navbar-toggler, .aa-switch-check, .aa-check, .aa-radio, input[type=radio], input[type=checkbox], .aa-check-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.shadow {
  -webkit-box-shadow: 0 25px 40px rgba(89, 136, 210, 0.17);
  -moz-box-shadow: 0 25px 40px rgba(89, 136, 210, 0.17);
  -ms-box-shadow: 0 25px 40px rgba(89, 136, 210, 0.17);
  -o-box-shadow: 0 25px 40px rgba(89, 136, 210, 0.17);
  box-shadow: 0 25px 40px rgba(89, 136, 210, 0.17); }

.main-shadow, .butn.main-butn, .select2-dropdown {
  -webkit-box-shadow: 0 20px 30px rgba(44, 37, 231, 0.05);
  -moz-box-shadow: 0 20px 30px rgba(44, 37, 231, 0.05);
  -ms-box-shadow: 0 20px 30px rgba(44, 37, 231, 0.05);
  -o-box-shadow: 0 20px 30px rgba(44, 37, 231, 0.05);
  box-shadow: 0 20px 30px rgba(44, 37, 231, 0.05); }

.dark-shadow {
  -webkit-box-shadow: 0 10px 10px rgba(117, 134, 233, 0.2);
  -moz-box-shadow: 0 10px 10px rgba(117, 134, 233, 0.2);
  -ms-box-shadow: 0 10px 10px rgba(117, 134, 233, 0.2);
  -o-box-shadow: 0 10px 10px rgba(117, 134, 233, 0.2);
  box-shadow: 0 10px 10px rgba(117, 134, 233, 0.2); }

.shadow-none, .butn.main-butn.bordered, .butn.main-butn:hover, .form-group .form-control, .form-group .select2-container, .noUi-horizontal .noUi-handle {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

.opacity-0, .modal .close:hover span::after, #top-bar .dropdown-menu a:hover::before, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .vid-wrap, .upload-vid .vid-wrap, .upload-file .vid-wrap, .upload-area input[type=file], .upload-vid input[type=file], .upload-file input[type=file] {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  -ms-opacity: 0;
  opacity: 0; }

.opacity-05, .video-js .vjs-big-play-button::before {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5; }

.opacity-1, .modal .close, input[type=radio]:checked::before, input[type=checkbox]:checked::before, .aa-check-select:checked::before, .upload-area .vid-wrap.active, .upload-vid .vid-wrap.active, .upload-file .vid-wrap.active, .video-js .vjs-big-play-button:hover::before {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  -ms-opacity: 1;
  opacity: 1; }

.over-x-hidden, body, html {
  overflow-x: hidden; }

.over-y-hidden {
  overflow-y: hidden; }

.over-x-scroll {
  overflow-x: scroll; }

.over-y-scroll {
  overflow-y: scroll; }

.over-hidden, .aa-switch-check, .aa-check, .aa-radio, input[type=radio], input[type=checkbox], .aa-check-select, .upload-area, .upload-vid, .upload-file, .about .img, .review-item .wrap .main-icon {
  overflow: hidden; }

.over-scroll, .popup-container .popup .content {
  overflow: scroll; }

.over-visible {
  overflow: visible; }

.radius-10 {
  border-radius: 10px; }

.radius-11, .upload-area, .upload-vid, .upload-file, .upload-area .del-img, .upload-area .del-vid, .upload-area .change-img, .upload-vid .del-img, .upload-vid .del-vid, .upload-vid .change-img, .upload-file .del-img, .upload-file .del-vid, .upload-file .change-img {
  border-radius: 11px; }

.radius-15, .butn.rounded-butn {
  border-radius: 15px; }

.radius-20 {
  border-radius: 20px; }

.radius-30 {
  border-radius: 30px; }

.radius-40 {
  border-radius: 40px; }

.radius-50, .rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before, .butn, .head-title .bf, .close-menu-icon span::before, .close-menu-icon span::after {
  border-radius: 50px; }

.radius-circle, .closeView i, .arrows .next, .arrows .prev, .aa-switch-check::before, .main-icon, .prices .img .before, .main-footer .follow-link, .noUi-horizontal .noUi-handle, .video-js .vjs-big-play-button, .video-js .vjs-big-play-button::before {
  border-radius: 50%; }

.radius-0, .form-group .form-control, .form-group .select2-container {
  border-radius: 0 !important; }

.border-0, .navbar-toggler, .price-item .wrap .main-icon, .select2-container--default .select2-selection--single, .noUi-horizontal .noUi-handle, .video-js .vjs-big-play-button {
  border: none !important; }

.rotate-y-360, .modal .close:hover, #topbar .nav-link:hover svg {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg); }

.cover::before {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  background: #000000;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5;
  top: 0; }

.bg-fx-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed; }

.bg-img, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap, .select2-container--default .select2-selection--single .select2-selection__arrow::before {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center; }

.cap {
  text-transform: capitalize; }

.font-text, body, body a, html, html a, .main-footer a, .top-menu.light-menu .wrap a {
  color: #787788; }

.main-text, .main-hover:hover, .top-menu .wrap a:hover:not(.close-menu), .closeView, .form-group .input-group-append .input-group-text, .form-group .input-group-prepend .input-group-text, .arrows .next:hover, .arrows .prev:hover, .main-footer a i {
  color: #fcc902; }

.light-text, .butn.light-butn.bordered, .butn.light-butn.white-butn:hover, .butn.light-butn.main-butn:hover, .butn.light-butn.second-butn:hover, .butn.light-butn.grey2-butn:hover, .butn.light-butn.red-butn:hover, .butn.light-butn.green-butn:hover, .butn.light-butn.font-butn:hover, .butn.light-butn.black-butn:hover {
  color: #EEEBFB; }

.second-text, .closeView:hover, #topbar .nav-link {
  color: #000000; }

.red-text {
  color: #EC1941; }

.green-text {
  color: #50D559; }

.orange-text {
  color: #F5BC38; }

.yellow-text {
  color: #EDFE00; }

.white-text, .rotate-hover:hover, .main-rotate-hover:hover, .black-rotate-hover:hover, .white-hover:hover, .butn.main-butn, .butn.main-butn.bordered:hover, .butn.main-butn.white-butn:hover, .butn.main-butn:hover, .butn.main-butn.second-butn:hover, .butn.main-butn.grey2-butn:hover, .butn.main-butn.red-butn:hover, .butn.main-butn.green-butn:hover, .butn.main-butn.font-butn:hover, .butn.main-butn.black-butn:hover, .butn.main-butn.bordered:focus, .butn.main-butn:focus:hover, .butn.second-butn, .butn.grey2-butn, .butn.red-butn.bordered:hover, .butn.red-butn.white-butn:hover, .butn.red-butn.second-butn:hover, .butn.red-butn.grey2-butn:hover, .butn.red-butn:hover, .butn.red-butn.green-butn:hover, .butn.red-butn.font-butn:hover, .butn.red-butn.black-butn:hover, .butn.red-butn.bordered:focus, .butn.red-butn:focus:hover, .butn.green-butn, .butn.font-butn, .butn.black-butn, .butn.white-butn:hover, .butn.black-butn.bordered:hover, .butn.black-butn.second-butn:hover, .butn.second-butn.white-butn:hover, .butn.black-butn.grey2-butn:hover, .butn.grey2-butn.white-butn:hover, .butn.black-butn.green-butn:hover, .butn.green-butn.white-butn:hover, .butn.black-butn.font-butn:hover, .butn.font-butn.white-butn:hover, .butn.black-butn:hover, .butn.black-butn.bordered:focus, .butn.white-butn:focus:hover, .butn.black-butn:focus:hover, .count-badge, .closeView i, .arrows .next, .arrows .prev, .upload-area:hover .icon, .upload-vid:hover .icon, .upload-file:hover .icon, #topbar .head-title, .how-item .wrap .icon, .top-menu .wrap a:not(.close-menu) {
  color: #ffffff; }

.black-text, .butn.white-butn, .butn.white-butn.bordered:hover, .butn.white-butn:hover, .butn.white-butn.main-butn:hover, .butn.white-butn.second-butn:hover, .butn.white-butn.grey2-butn:hover, .butn.white-butn.red-butn:hover, .butn.white-butn.green-butn:hover, .butn.white-butn.font-butn:hover, .butn.white-butn.black-butn:hover, .butn.white-butn.bordered:focus, .butn.white-butn:focus:hover, .butn.second-butn.bordered:hover, .butn.second-butn.main-butn:hover, .butn.second-butn:hover, .butn.second-butn.grey2-butn:hover, .butn.second-butn.red-butn:hover, .butn.second-butn.green-butn:hover, .butn.second-butn.font-butn:hover, .butn.second-butn.black-butn:hover, .butn.second-butn.bordered:focus, .butn.second-butn:focus:hover, .butn.grey2-butn.bordered:hover, .butn.grey2-butn.main-butn:hover, .butn.grey2-butn:hover, .butn.grey2-butn.red-butn:hover, .butn.grey2-butn.green-butn:hover, .butn.grey2-butn.font-butn:hover, .butn.grey2-butn.black-butn:hover, .butn.grey2-butn.bordered:focus, .butn.grey2-butn:focus:hover, .butn.green-butn.bordered:hover, .butn.green-butn.main-butn:hover, .butn.green-butn.red-butn:hover, .butn.green-butn:hover, .butn.green-butn.font-butn:hover, .butn.green-butn.black-butn:hover, .butn.green-butn.bordered:focus, .butn.green-butn:focus:hover, .butn.font-butn.bordered:hover, .butn.font-butn.main-butn:hover, .butn.font-butn.red-butn:hover, .butn.font-butn:hover, .butn.font-butn.black-butn:hover, .butn.font-butn.bordered:focus, .butn.font-butn:focus:hover, .butn.light-butn, .butn.light-butn.bordered:hover, .butn.light-butn.white-butn:hover, .butn.light-butn.main-butn:hover, .butn.light-butn.second-butn:hover, .butn.light-butn.grey2-butn:hover, .butn.light-butn.red-butn:hover, .butn.light-butn.green-butn:hover, .butn.light-butn.font-butn:hover, .butn.light-butn.black-butn:hover, .butn.light-butn.bordered:focus {
  color: #000000; }

.dir-rtl {
  direction: rtl; }

.dir-ltr {
  direction: ltr; }

.trans, .rotate-hover, .main-rotate-hover, .black-rotate-hover, .rotate-hover span, .main-rotate-hover span, .black-rotate-hover span, .rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before, .main-hover, .top-menu .wrap a:not(.close-menu), .white-hover, .butn, .butn i, .closeView, .modal .close, .modal .close span, .modal .close span::before, .modal .close span::after, .arrows .next, .arrows .prev, .aa-switch-check, .aa-switch-check::before, .aa-switch-check::after, #topbar .nav-link, #topbar .nav-link svg, .top-menu, .close-menu-icon, .close-menu-icon span, .close-menu-icon span::before, .close-menu-icon span::after, .video-js .vjs-big-play-button::before {
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1); }

.grad-bg {
  background: linear-gradient(to left, #616B71, #A7B6BF); }

.grad-bg-2 {
  background: linear-gradient(to right, #616B71, #A7B6BF); }

.after, .cover::before, .rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before, .modal .close span::before, .modal .close span::after, .aa-switch-check::before, .aa-switch-check::after, .aa-check:before, .aa-radio:before, .aa-check:after, .aa-radio:after, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .before, .close-menu-icon span::before, .close-menu-icon span::after, .select2-container--default .select2-selection--single .select2-selection__arrow::before, .video-js .vjs-big-play-button::before {
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  left: 0; }

.v-top {
  vertical-align: top; }

.v-middle {
  vertical-align: middle; }

.v-bottom {
  vertical-align: bottom; }

.fl-left {
  float: left; }

.fl-right {
  float: right; }

.rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before {
  width: 100%;
  height: 0;
  top: auto;
  bottom: 0;
  z-index: -1; }
.rotate-hover:hover span, .main-rotate-hover:hover span, .black-rotate-hover:hover span {
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg); }
.rotate-hover:hover::before, .main-rotate-hover:hover::before, .black-rotate-hover:hover::before {
  height: 100%; }

.nice-scroll-bar::-webkit-scrollbar {
  width: 5px; }
.nice-scroll-bar::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-right: 50px;
  background: #ffffff; }
.nice-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fcc902;
  right: 5px; }

.butn {
  text-decoration: none !important;
  outline: 0;
  border: 2px solid transparent; }
  .butn:not(.not) {
    min-width: 150px;
    padding: 10px 50px; }
  .butn img {
    width: 18px; }
  .butn.report img {
    width: 22px; }
  .butn.medium-butn {
    padding: 18px 32px; }
  .butn.white-butn.bordered, .butn.white-butn:hover {
    color: #ffffff;
    background: transparent;
    border-color: #ffffff; }
  .butn.main-butn {
    border-color: transparent; }
    .butn.main-butn.bordered, .butn.main-butn:hover {
      color: #fcc902;
      background: transparent;
      border-color: #fcc902; }
      .butn.main-butn.bordered:hover, .butn.main-butn:hover, .butn.main-butn.bordered:focus, .butn.main-butn:focus:hover {
        border-color: #fcc902; }
  .butn.second-butn {
    border-color: #000000; }
    .butn.second-butn.bordered, .butn.second-butn:hover {
      color: #000000;
      background: transparent; }
      .butn.second-butn.bordered:hover, .butn.second-butn:hover, .butn.second-butn.bordered:focus, .butn.second-butn:focus:hover {
        border-color: #000000; }
  .butn.grey2-butn {
    border-color: #A7B6BF; }
    .butn.grey2-butn.bordered, .butn.grey2-butn:hover {
      color: #A7B6BF;
      background: transparent; }
      .butn.grey2-butn.bordered:hover, .butn.grey2-butn:hover, .butn.grey2-butn.bordered:focus, .butn.grey2-butn:focus:hover {
        border-color: #A7B6BF; }
  .butn.red-butn {
    color: #ffffff;
    border-color: #EC1941; }
    .butn.red-butn.bordered, .butn.red-butn:hover {
      color: #EC1941;
      background: transparent; }
      .butn.red-butn.bordered:hover, .butn.red-butn:hover, .butn.red-butn.bordered:focus, .butn.red-butn:focus:hover {
        border-color: #EC1941; }
  .butn.green-butn {
    border-color: #50D559; }
    .butn.green-butn.bordered, .butn.green-butn:hover {
      color: #50D559;
      background: transparent; }
      .butn.green-butn.bordered:hover, .butn.green-butn:hover, .butn.green-butn.bordered:focus, .butn.green-butn:focus:hover {
        border-color: #50D559; }
  .butn.font-butn {
    border-color: #787788; }
    .butn.font-butn.bordered, .butn.font-butn:hover {
      color: #787788;
      background: transparent; }
      .butn.font-butn.bordered:hover, .butn.font-butn:hover, .butn.font-butn.bordered:focus, .butn.font-butn:focus:hover {
        border-color: #787788; }
  .butn.light-butn {
    background: #EEEBFB;
    border-color: #EEEBFB; }
    .butn.light-butn.bordered, .butn.light-butn.white-butn:hover, .butn.light-butn.main-butn:hover, .butn.light-butn.second-butn:hover, .butn.light-butn.grey2-butn:hover, .butn.light-butn.red-butn:hover, .butn.light-butn.green-butn:hover, .butn.light-butn.font-butn:hover, .butn.light-butn.black-butn:hover {
      background: transparent; }
      .butn.light-butn.bordered:hover, .butn.light-butn.white-butn:hover, .butn.light-butn.main-butn:hover, .butn.light-butn.second-butn:hover, .butn.light-butn.grey2-butn:hover, .butn.light-butn.red-butn:hover, .butn.light-butn.green-butn:hover, .butn.light-butn.font-butn:hover, .butn.light-butn.black-butn:hover, .butn.light-butn.bordered:focus, .butn.light-butn.white-butn:focus:hover, .butn.light-butn.main-butn:focus:hover, .butn.light-butn.second-butn:focus:hover, .butn.light-butn.grey2-butn:focus:hover, .butn.light-butn.red-butn:focus:hover, .butn.light-butn.green-butn:focus:hover, .butn.light-butn.font-butn:focus:hover, .butn.light-butn.black-butn:focus:hover {
        border-color: #EEEBFB; }
  .butn.black-butn, .butn.white-butn:hover {
    background: #000000;
    border-color: #000000; }
    .butn.black-butn.bordered, .butn.white-butn:hover, .butn.black-butn:hover {
      color: #000000;
      background: transparent; }
      .butn.black-butn.bordered:hover, .butn.white-butn:hover, .butn.black-butn:hover, .butn.black-butn.bordered:focus, .butn.white-butn:focus:hover, .butn.black-butn:focus:hover {
        border-color: #000000; }
  .butn.top-right-rad-0 {
    border-top-right-radius: 0; }
  .butn.top-left-rad-0 {
    border-top-left-radius: 0; }
  .butn.bottom-right-rad-0 {
    border-bottom-right-radius: 0; }
  .butn.bottom-left-rad-0 {
    border-bottom-left-radius: 0; }
  .butn.back img, .butn.next img {
    padding-top: 5px;
    width: 50px; }

.middle, .aa-check:after, .aa-radio:after, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .icon-area, .upload-vid .icon-area, .upload-file .icon-area, .upload-area .file-name, .upload-vid .file-name, .upload-file .file-name, .video-js .vjs-big-play-button {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.count-badge {
  top: 0;
  right: 0;
  background: #EC1941; }

/***********
*
* Bootstrap Style
*
***********/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #000000; }

.popup-container {
  z-index: 99999999; }
  .popup-container .popup {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    z-index: 99; }
    .popup-container .popup .content video, .popup-container .popup .content iframe, .popup-container .popup .content img {
      margin: 0 auto;
      width: 100% !important;
      height: 100% !important;
      padding: 10px; }
    .popup-container .popup#popupimg {
      z-index: 99; }

.closeView {
  top: 10px;
  right: 10px;
  z-index: 99999;
  width: 50px;
  height: 50px;
  font-size: 26px;
  line-height: 50px; }
  .closeView i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    line-height: 50px; }

.modal .close {
  width: 5px;
  background-size: 101% !important; }
  .modal .close, .modal .close span {
    margin: 0 auto;
    z-index: 9; }
  .modal .close span {
    width: 50px;
    height: 25px;
    margin: 0 auto;
    left: -8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    .modal .close span::before, .modal .close span::after {
      background: transparent;
      width: 50%;
      height: 0;
      top: 0;
      right: 1px;
      left: 1px;
      margin: auto;
      border-top: 2px solid #000000; }
    .modal .close span::before {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .modal .close:hover span {
    left: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
    .modal .close:hover span::before, .modal .close:hover span::after {
      border-top: 5px dotted #000000; }

[data-toggle=collapse] .fl-left {
  width: 85%; }
[data-toggle=collapse] .fl-right {
  width: 15%; }

.def-border, .upload-area, .upload-vid, .upload-file {
  border: 2px solid #A7B6BF; }

.def-border-top {
  border-top: 2px solid #A7B6BF; }

.def-border-bottom {
  border-bottom: 2px solid #A7B6BF; }

.def-border-right {
  border-right: 2px solid #A7B6BF; }

.def-border-left {
  border-left: 2px solid #A7B6BF; }

.form-group .form-control, .form-group .select2-container {
  border: 1 solid #A7B6BF;
  padding: 10px 20px 10px 20px; }
  .form-group .form-control.white, .form-group .white.select2-container {
    border: 2px solid #eae9f1 !important; }
  .form-group .form-control.disabled, .form-group .disabled.select2-container {
    background: #eae9f1;
    border: 2px solid #eae9f1; }
  .form-group .form-control.mini, .form-group .mini.select2-container {
    font-size: 14px;
    padding: 10px 5px; }
  .form-group .form-control.big, .form-group .big.select2-container {
    font-size: inherit;
    padding: 20px 30px; }
.form-group ::-webkit-input-placeholder {
  /* Edge */
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5; }
.form-group :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5; }
.form-group ::placeholder {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5; }
.form-group .input-group-append .input-group-text, .form-group .input-group-prepend .input-group-text {
  border: 0; }
.form-group i:not(.not) {
  top: auto;
  bottom: 15px;
  left: 20px; }
  .form-group i:not(.not) img {
    width: 20px; }
.form-group .input-group-append, .form-group .input-group-prepend {
  padding-top: 10px; }
.form-group.mini {
  padding: 5px;
  margin: 0; }

.tooltip {
  z-index: 999999; }

.tooltip-arrow,
.tooltip > .tooltip-inner {
  background-color: #000000; }

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #000000; }

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #000000; }

.dropdown-toggle::after {
  display: none; }

/* open dropdown menu on hover */
.dropdown {
  /*  &:hover {
      .dropdown-menu {
        @extend .border-0;
        @extend .shadow;
        display: block;
        margin-top: 0;
        font-size: 13px;
      }
    }*/ }
  .dropdown .dropdown-menu {
    margin-top: 0;
    font-size: 13px; }

/***********
*
* Main Style
*
***********/
.arrows {
  width: 150px; }
  .arrows .next, .arrows .prev {
    top: calc(50% - 50px);
    font-size: 20px;
    bottom: auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid transparent;
    z-index: 33; }
    .arrows .next img, .arrows .prev img {
      height: 20px;
      margin: auto; }
    .arrows .next:hover, .arrows .prev:hover {
      border-color: #fcc902; }
  .arrows .next {
    right: 20px;
    left: auto; }
    .arrows .next:hover {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .arrows .prev {
    left: 20px;
    right: auto; }
    .arrows .prev:hover {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }

.aa-switch-check {
  background: transparent;
  border-radius: 50px;
  width: 35px;
  height: 15px;
  border: 1px solid #000000;
  outline: none;
  color: #fff; }
  .aa-switch-check:after {
    left: auto;
    right: 5px;
    top: 3px;
    font-size: 8pt; }
  .aa-switch-check::before {
    width: 11px;
    height: 11px;
    left: 1.5px;
    top: 1px; }
  .aa-switch-check:checked {
    border-color: #fcc902; }
    .aa-switch-check:checked::before {
      left: auto;
      right: 1.5px; }
    .aa-switch-check:checked::after {
      left: 5px;
      right: auto; }

.aa-check, .aa-radio {
  width: 20px;
  height: 20px;
  outline: none;
  margin-right: 10px; }
  .aa-check:before, .aa-radio:before {
    width: 100%;
    height: 100%;
    border: 1px solid #D5D5D5; }
  .aa-check:after, .aa-radio:after {
    background: #fcc902;
    width: 50%;
    height: 50%;
    left: 1px;
    right: 1px;
    margin: auto;
    display: none; }
  .aa-check:checked:after, .aa-radio:checked:after {
    display: block; }

input[type=radio], input[type=checkbox] {
  border: 2px solid #000000;
  outline: 0;
  width: 20px;
  height: 20px;
  top: 5px;
  padding: 0; }
  input[type=radio]::before, input[type=checkbox]::before {
    padding: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 12px;
    height: auto;
    margin: auto;
    background-image: url("../imgs/icons/check.svg"); }
  input[type=radio]:checked, input[type=checkbox]:checked {
    border-color: #fcc902; }

.aa-check-select {
  border: 1px solid #787788;
  outline: 0;
  width: 20px;
  height: 20px;
  top: 5px;
  padding: 0; }
  .aa-check-select::before {
    padding: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 13px;
    height: auto;
    margin: auto;
    background-image: url("../imgs/icons/check.svg"); }
  .aa-check-select:checked {
    border-color: #50D559; }

.before {
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  z-index: 1; }
  .before.before-20 {
    width: 20%; }
  .before.before-30 {
    width: 30%; }
  .before.before-40 {
    width: 40%; }
  .before.before-50 {
    width: 50%; }
  .before.before-60 {
    width: 60%; }
  .before.before-70 {
    width: 70%; }
  .before.before-80 {
    width: 80%; }
  .before.before-90 {
    width: 90%; }
  .before.before-100 {
    width: 100%; }
  .before.bottom {
    background-position: bottom; }

.upload-area, .upload-vid, .upload-file {
  height: 200px; }
  .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  .upload-area .vid-wrap.active, .upload-vid .vid-wrap.active, .upload-file .vid-wrap.active {
    z-index: 9; }
  .upload-area input[type=file], .upload-vid input[type=file], .upload-file input[type=file] {
    outline: 0;
    width: 100%;
    height: 100%;
    z-index: 9; }
  .upload-area .icon-area, .upload-vid .icon-area, .upload-file .icon-area {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1px;
    left: 1px;
    margin: 0 auto; }
  .upload-area .del-img, .upload-area .del-vid, .upload-area .change-img, .upload-vid .del-img, .upload-vid .del-vid, .upload-vid .change-img, .upload-file .del-img, .upload-file .del-vid, .upload-file .change-img {
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    top: 15px;
    left: 15px;
    padding: 7px;
    z-index: 999; }
  .upload-area .file-name, .upload-vid .file-name, .upload-file .file-name {
    z-index: 3;
    right: 1px;
    left: 1px;
    margin: auto; }
  .upload-area .del-file, .upload-vid .del-file, .upload-file .del-file {
    right: 1px;
    left: 1px;
    margin: auto;
    bottom: 10px;
    z-index: 9999; }
  .upload-area .change-img, .upload-vid .change-img, .upload-file .change-img {
    width: 35px;
    top: 15px;
    left: auto;
    right: 15px;
    padding: 5px;
    z-index: 1; }

select {
  height: auto !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../imgs/icons/arrow-bottom.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 12px);
  background-position-y: 17px; }
  select:focus {
    background-image: url("../imgs/icons/arrow-up.svg"); }

@keyframes rotat {
  0%, 100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg); } }
@-webkit-keyframes rotat {
  0%, 100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg); } }
@keyframes inversrotat {
  0%, 100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg); } }
@-webkit-keyframes inversrotat {
  0%, 100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg); } }
.container, .container-fluid {
  z-index: 3; }

.main-title, #topbar .nav-link, .how-item .wrap .icon, .main-footer a {
  font-family: "Lora", Arial; }

.sub-title, body, body a, html, html a {
  font-family: "Lato", Arial; }

body, html {
  background-color: #FBFAFD;
  scroll-behavior: smooth; }

body {
  padding: 0 !important; }

#topbar .nav-link {
  padding: 10px 20px; }
  #topbar .nav-link svg {
    width: 15px; }
  #topbar .nav-link.follow-link {
    padding-right: 10px;
    padding-left: 10px; }
    #topbar .nav-link.follow-link svg {
      margin: auto; }
#topbar .head-title {
  margin-bottom: 0; }

.main-icon {
  width: 80px;
  height: 80px;
  line-height: 70px;
  border: 2px solid #787788;
  margin-bottom: 10px; }
  .main-icon img {
    width: 50px; }
  .main-icon.center {
    margin-right: auto;
    margin-left: auto; }

.head-title .bf {
  width: 120px;
  height: 3px;
  top: auto;
  bottom: -25px; }
  .head-title .bf.center {
    margin: auto;
    left: 1px;
    right: 1px; }

.main-header .carousel-item {
  height: calc(100vh - 100px); }
  .main-header .carousel-item .butn {
    padding: 30px 70px; }
.main-header .slide-item {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.how-item .wrap .icon {
  width: 80px;
  height: 80px;
  line-height: 80px; }

.about {
  z-index: 1; }
  .about .head-title, .about .cont, .about .butns {
    z-index: 3; }
  .about .img {
    border-top-right-radius: 100px;
    min-height: 250px; }

.serv-item .main-icon {
  border-color: #fcc902; }
  .serv-item .main-icon img {
    width: 40px; }

.prices .img .before {
  width: 250px;
  height: 250px;
  top: -80px;
  z-index: 1; }
.prices .img img {
  z-index: 3; }

.price-item .wrap {
  margin-top: 90px; }
  .price-item .wrap .main-icon {
    width: 90px;
    height: 90px;
    line-height: 80px;
    top: -40px; }
    .price-item .wrap .main-icon img {
      width: 40px; }
  .price-item .wrap .title {
    margin-top: 30px; }

.rev-item .wrap {
  border: 5px solid #ffffff; }
  .rev-item .wrap .title {
    width: calc(100% - 140px); }
  .rev-item .wrap .main-icon {
    line-height: 75px; }
    .rev-item .wrap .main-icon img {
      width: 40px; }

.review-item .wrap .main-icon {
  width: 150px;
  height: 150px;
  border: 10px solid #ffffff !important;
  top: -75px; }
  .review-item .wrap .main-icon img {
    width: 100%; }

.pro-map iframe {
  width: 100% !important;
  height: 300px !important; }

.main-footer .follow-link {
  width: 35px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  border: 1px solid #787788; }

.top-menu {
  width: 250px;
  top: 0;
  bottom: 0;
  left: -250px;
  z-index: 99999999; }
  .top-menu .wrap {
    height: 100%;
    padding: 30px; }
    .top-menu .wrap a:not(.close-menu) {
      padding: 10px;
      text-transform: uppercase; }
    .top-menu .wrap .close-menu img {
      height: 25px; }
  .top-menu.show {
    left: 0; }
  .top-menu.full-menu {
    width: 100%;
    left: 0;
    right: 0;
    height: auto; }

.appointment-item .icon {
  width: 150px;
  margin: auto;
  /*  @extend .main-icon;
    @extend .main-bg;
    @extend .border-0;
    margin: auto;
    width: 120px;
    height: 120px;
    line-height: 120px;
    img{
      width: 100px;
    }*/ }

.close-menu-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  top: 30px;
  z-index: 4;
  right: 20px; }
  .close-menu-icon span {
    width: 100%;
    height: 100%; }
    .close-menu-icon span::before, .close-menu-icon span::after {
      width: 35px;
      height: 2px;
      top: 20px;
      right: 1px;
      left: 1px;
      margin: auto; }
    .close-menu-icon span::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .close-menu-icon span::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .close-menu-icon:hover span {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    .close-menu-icon:hover span::before, .close-menu-icon:hover span::after {
      width: 25px; }
    .close-menu-icon:hover span::before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .close-menu-icon:hover span::after {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }

.select2-container {
  font-size: 14px !important;
  padding: 6.2px 5px !important;
  width: 100% !important;
  z-index: 1999; }

.select2-dropdown {
  border-color: #eae9f1 !important; }

.select2-container--default .select2-selection--single, .selection {
  width: 100%;
  height: 100%; }
  .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single:focus, .selection, .selection:focus {
    outline: 0;
    border: 0; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  top: 0; }

.select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }

.select2-container--default .select2-selection--single {
  background: transparent; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 12px; }

.select2-container--default .select2-selection--single .select2-selection__arrow::before {
  width: 20px;
  height: 15px;
  top: 5px;
  left: auto;
  right: 10px;
  background-image: url("../imgs/icons/arrow-bottom.svg");
  background-size: 12px !important; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow::before {
  top: -5px; }

.select2-results__option {
  padding: 15px; }

.select2-container--default .select2-selection--single .select2-selection__clear {
  margin-right: 35px; }

.noUi-horizontal .noUi-handle {
  outline: 0;
  width: 15px;
  height: 15px;
  right: -13px;
  top: -4px; }

.noUi-connects {
  border-radius: 50px !important; }

.noUi-horizontal {
  height: 7px; }

.noUi-target {
  background: #A7B6BF;
  border: 0; }

.noUi-handle:after, .noUi-handle:before {
  display: none; }

.noUi-handle.noUi-handle-upper {
  right: 0; }

.video-js .vjs-big-play-button {
  overflow: visible;
  outline: 0;
  right: 1px;
  left: 1px;
  margin: auto;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 50px; }
  .video-js .vjs-big-play-button::before {
    width: auto;
    height: auto;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    margin: auto;
    border: 3px solid #ffffff; }

/*# sourceMappingURL=main.css.map */
