/**
 * Fast Bee Website
 * Version: 1.1
 * Powerd by:
 * Designer: Ayat Ahmed | instagram.com/ayaat.a7med
 * Copyrights 2021
 */
@import "vars";
@import "fonts";
@import "mixins";
@import "media";
@import "mainStyle";
@import "keyframes";

.container, .container-fluid {
  @extend .pos-relative;
  z-index: 3;
}

.main-title {
  font-family: "Lora", Arial;
}
.sub-title {
  font-family: "Lato", Arial;
}

body, html {
  @extend .over-x-hidden;
  background-color: #FBFAFD;
  scroll-behavior: smooth;
  &, a{
    @extend .sub-title;
    @extend .font-text;
    @extend .text-deco-none;
  }
}

body {
  padding: 0 !important;
}

#topbar {
    .nav-link {
      @extend .trans;
      @extend .pos-relative;
      @extend .main-title;
      @extend .f-bold;
      @extend .dis-block;
      @extend .second-text;
      padding: 10px 20px;
      svg {
        @extend .trans;
        width: 15px;
      }
      &.follow-link {
        @extend .txt-center;
        padding-right: 10px;
        padding-left: 10px;
        svg {
          @extend .dis-inline-block;
          margin: auto;
        }
      }
      &:hover {
        @extend .main-bg;
        svg {
          @extend .rotate-y-360;
        }
      }
    }

  .head-title {
    @extend .white-text;
    @extend .f-normal;
    margin-bottom: 0;
  }
}
.main-icon{
  @extend .dis-block;
  @extend .pos-relative;
  @extend .txt-center;
  @extend .radius-circle;
  width: 80px;
  height: 80px;
  line-height: 70px;
  border: 2px solid $fontColor;
  margin-bottom: $margin-10;
  img{
    width: 50px;
  }
  &.center{
    margin-right: auto;
    margin-left: auto;
  }
}
.head-title{
  @extend .pos-relative;

  .bf{
    @extend .radius-50;
    @extend .pos-absolute;
    width: 120px;
    height: 3px;
    top: auto;
    bottom: -25px;
    &.center{
      margin: auto;
      left: 1px;
      right: 1px;

    }
  }
}
.main-header{
  .carousel-item{
    height: calc(100vh - 100px);
    .butn{
      padding: $margin-30 70px;
    }
  }
  .slide-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.how-item{
  .wrap{
    .icon{
      @extend .txt-center;
      @extend .f-huge;
      @extend .f-bold;
      @extend .white-text;
      @extend .main-title;
      width: 80px;
      height: 80px;
      line-height: 80px;
    }
  }
}
.about{
  z-index: 1;
  .head-title, .cont, .butns{
    @extend .pos-relative;
    z-index: 3;
  }
  .img{
    @extend .over-hidden;
    border-top-right-radius: 100px;
    min-height: 250px;
  }
}
.serv-item{
  .main-icon{
    border-color: $main;
    img{
      width: 40px;
    }
  }
}
.prices{
  .img{
    @extend .pos-relative;
    .before{
      @extend .grey-bg;
      @extend .radius-circle;
      width: 250px;
      height: 250px;
      top: -80px;
      z-index: 1;
    }
    img{
      @extend .pos-relative;
      z-index: 3;
    }
  }
}
.price-item{
  .wrap{
    @extend .pos-relative;
    margin-top: 90px;
    .main-icon{
      @extend .pos-absolute;
      @extend .border-0;
      width: 90px;
      height: 90px;
      line-height: 80px;
      top: -40px;
      img{
        width: 40px;
      }
    }
    .title{
      margin-top: 30px;
    }
  }
}

.rev-item{
  .wrap {
    @extend .dis-flex;
    @extend .alien-items-c;
    border: 5px solid $white;
    .title{
      width: calc(100% - 140px);
    }
    .main-icon{
      line-height: 75px;
      img{
        width: 40px;
      }
    }
  }
  }
.review-item{
  .wrap{
    .main-icon{
      @extend .over-hidden;
      width: 150px;
      height: 150px;
      border: 10px solid $white !important;
      top: -75px;
      img{
        width: 100%;
      }
    }
  }
}

.pro-map {
  iframe {
    width: 100% !important;
    height: 300px !important;
  }
}
.main-footer{
  a{
    @extend .f-normal;
    @extend .main-title;
    @extend .f-bold;
    @extend .font-text;
    i{
      @extend .main-text;
    }
  }
  .follow-link{
    @extend .txt-center;
    @extend .radius-circle;
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    border: 1px solid $fontColor;

  }
}

.top-menu {
  @extend .trans;
  @extend .pos-fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  left: -250px;
  z-index: 99999999;
  .wrap {
    @extend .second-bg;
    height: 100%;
    padding: $margin-30;
    a:not(.close-menu) {
      @extend .white-text;
      @extend .main-hover;
      @extend .pos-relative;
      @extend .dis-block;
      padding: $margin-10;
      text-transform: uppercase;
    }
    .close-menu {
      img {
        height: 25px;
      }
    }
  }
  &.show {
    left: 0;
  }
  &.light-menu{
    .wrap{
      @extend .white-bg;
      a{
        @extend .font-text;
      }
    }
  }
  &.full-menu{
    @extend .dis-none;
    width: 100%;
    left: 0;
    right: 0;
    height: auto;
    &.show{
      @extend .dis-block;
    }
  }
}
.appointment-item{
  .icon{
    width: 150px;
    margin: auto;
  /*  @extend .main-icon;
    @extend .main-bg;
    @extend .border-0;
    margin: auto;
    width: 120px;
    height: 120px;
    line-height: 120px;
    img{
      width: 100px;
    }*/
  }
}
.close-menu-icon {
  @extend .trans;
  @extend .pos-absolute;
  @extend .dis-inline-block;
  @extend .mouse;
  @extend .txt-center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  top: $margin-30;
  z-index: 4;
  right: $margin-20;
  span {
    @extend .trans;
    @extend .dis-block;
    @extend .pos-relative;
    width: 100%;
    height: 100%;
    &::before, &::after {
      @extend .trans;
      @extend .radius-50;
      @extend .after;
      @extend .grey2-bg;
      width: 35px;
      height: 2px;
      top: $margin-20;
      right: 1px;
      left: 1px;
      margin: auto;
    }
    &::before {
      @include transF(rotate(45deg));
    }
    &::after {
      @include transF(rotate(-45deg));
    }
  }
  &:hover {
    span {
      @include transF(rotate(45deg));
      &::before, &::after {
        @extend .main-bg;
        width: 25px;
      }
      &::before {
        @include transF(rotate(180deg));
      }
      &::after {
        @include transF(rotate(-90deg));
      }
    }
  }
}

.select2-container {
  @extend .form-control;
  font-size: 14px !important;
  padding: 6.2px 5px !important;
  width: 100% !important;
  z-index: 1999;
}
.select2-dropdown{
  @extend .main-shadow;
  border-color: $grey !important;
}

.select2-container--default .select2-selection--single, .selection {
  width: 100%;
  height: 100%;
  &, &:focus {
    outline: 0;
    border: 0;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  @extend .f-small;
  top: 0;
}

.select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.select2-container--default .select2-selection--single {
  @extend .border-0;
  background: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  &::before {
    @extend .after;
    @extend .bg-img;
    width: 20px;
    height: 15px;
    top: 5px;
    left: auto;
    right: $margin-10;
    background-image: url("../imgs/icons/arrow-bottom.svg");
    background-size: 12px !important;
  }

}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  &::before {
    @extend .flip-x;
    top: -5px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  @extend .dis-none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  @extend .main-bg;
}

.select2-results__option {
  padding: $margin-10 + 5;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  margin-right: 35px;
}

.noUi-connect {
  @extend .main-bg;
}

.noUi-horizontal .noUi-handle {
  @extend .main-bg;
  @extend .radius-circle;
  @extend .border-0;
  @extend .shadow-none;
  outline: 0;
  width: 15px;
  height: 15px;
  right: -13px;
  top: -4px;
}

.noUi-connects {
  border-radius: 50px !important;

}

.noUi-horizontal {
  height: 7px;
}

.noUi-target {
  background: $grey2;
  border: 0;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

.noUi-handle.noUi-handle-upper {
  right: 0;
}
.video-js .vjs-tech {
  @extend .pos-relative;
}

.video-js .vjs-big-play-button {
  @extend .middle;
  @extend .radius-circle;
  @extend .main-bg;
  @extend .border-0;
  overflow: visible;
  outline: 0;
  right: 1px;
  left: 1px;
  margin: auto;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 50px;
  // background-color: rgba(20, 73, 154, 0.7);
  &::before {
    @extend .trans;
    @extend .after;
    @extend .opacity-05;
    @extend .radius-circle;
    @extend .trans-bg;
    width: auto;
    height: auto;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    margin: auto;
    border: 3px solid $white;
  }
  &:hover {
    &::before {
      @extend .opacity-1;
    }
  }
}