@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Light.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-SemiBold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
