/***********
*
* Style Elements
*
* Designer: Ayat Ahmed | instagram.com/ayaat.a7med
* Copyrights 2021
*
**********/

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.mouse {
  cursor: pointer !important;
}

.flip-y {
  @include transF(rotateY(180deg));
}

.flip-x {
  @include transF(rotateX(180deg));
}

.text-deco-none {
  text-decoration: none !important;
}

.jRight,
.jLeft,
.jCenter {
  text-align: justify;
}

.jCenter {
  text-align-last: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-uppercase {
  text-transform: uppercase;
}

.f-extrahuge {
  font-size: $extrahuge;
}

.f-huge {
  font-size: $huge;
}

.f-extrabig {
  font-size: $extrabig;
}

.f-big {
  font-size: $big;
}

.f-medium {
  font-size: $medium;
}
.f-extramedium {
  font-size: $extramedium;
}

.f-normal {
  font-size: $normal;
  font-weight: 300;
}

.f-small {
  font-size: $small;
}

.f-extrasmall {
  font-size: $extrasmall;
}

.f-light {
  font-weight: 200;
}

.f-med {
  font-weight: 500;
}

.f-semibold {
  font-weight: 800;
}
.f-bold {
  font-weight: bold;
}
.lh-25{
  line-height: 25px;
}
.lh-30{
  line-height: 30px;
}
.lh-35{
  line-height: 35px;
}
.lh-40{
  line-height: 40px;
}
.lh-50{
  line-height: 50px;
}
.lh-60{
  line-height: 60px;
}
.lh-75{
  line-height: 75px;
}
.trans-bg {
  background: transparent;
}

.main-bg {
  background: $main;
}

.light-bg {
  background: $light;
}

.second-bg {
  background: $second;
}

.red-bg {
  background: $red;
}

.green-bg {
  background: $green;
}
.orange-bg {
  background: $orange;
}
.yellow-bg {
  background: $yellow;
}

.grey-bg {
  background: $grey;
}

.grey2-bg {
  background: $grey2;
}
.grey3-bg {
  background: $grey3;
}

.white-bg {
  background: $white;
}

.black-bg {
  background: $black;
}
.font-bg {
  background: $fontColor;
}

.invert {
  -webkite-filter: invert(100%);
  -moz-filter: invert(100%);
  filter: invert(100%);
}

.clear-both {
  clear: both;
}

.delay-02 {
  animation-delay: 0.2s;
}

.delay-04 {
  animation-delay: 0.4s;
}

.delay-06 {
  animation-delay: 0.6s;
}

.delay-08 {
  animation-delay: 0.8s;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-12 {
  animation-delay: 1.2s;
}

.delay-14 {
  animation-delay: 1.4s;
}

.dis-block {
  display: block;
}

.dis-inline-block {
  display: inline-block;
}

.dis-flex {
  display: flex;
  flex-wrap: wrap;
}

.dis-none {
  display: none;
}


.filter-grey {
  filter: grayscale(100%);
}
.filter-none{
  filter: none;
}
.alien-items-c {
  align-items: center;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-static {
  position: static;
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.shadow {
  @include bShadow(0 25px 40px rgba(89, 136, 210, 0.17));
}

.main-shadow {
  @include bShadow(0 20px 30px rgba(44, 37, 231, 0.05));
}
.dark-shadow {
  @include bShadow(0 10px 10px rgba(117, 134, 233, 0.2));
}

.shadow-none {
  @include bShadow(none !important);
}

.opacity-0 {
  @include opc(0);
}

.opacity-05 {
  @include opc(0.5);
}

.opacity-1 {
  @include opc(1);
}

.over-x-hidden {
  overflow-x: hidden;
}

.over-y-hidden {
  overflow-y: hidden;
}

.over-x-scroll {
  overflow-x: scroll;
}

.over-y-scroll {
  overflow-y: scroll;
}

.over-hidden {
  overflow: hidden;
}

.over-scroll {
  overflow: scroll;
}

.over-visible {
  overflow: visible;
}

.radius-10 {
  border-radius: 10px;
}

.radius-11 {
  border-radius: 11px;
}

.radius-15 {
  border-radius: 15px;
}

.radius-20 {
  border-radius: 20px;
}
.radius-30 {
  border-radius: 30px;
}
.radius-40 {
  border-radius: 40px;
}

.radius-50 {
  border-radius: 50px;
}

.radius-circle {
  border-radius: 50%;
}

.radius-0 {
  border-radius: 0 !important;
}

.border-0 {
  border: none !important;
}
.rotate-y-360{
  @include transF(rotateY(360deg));
}
.cover {
  @extend .pos-relative;
  &::before {
    @extend .after;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    background: $black;
    @include opc(0.5);
    top: 0;
  }
}

.bg-fx-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.bg-img {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.cap {
  text-transform: capitalize;
}

.font-text {
  color: $fontColor;
}

.main-text {
  color: $main;
}

.light-text {
  color: $light;
}

.second-text {
  color: $second;
}

.red-text {
  color: $red;
}

.green-text {
  color: $green;
}

.orange-text {
  color: $orange;
}
.yellow-text {
  color: $yellow;
}

.white-text {
  color: $white;
}

.black-text {
  color: $black;
}

.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

.trans {
  @include trans(all 0.5s cubic-bezier(0, 0, 0.2, 1))
}
.grad-bg {
  background: $gradient_1;
}
.grad-bg-2 {
  background: $gradient_2;
}

.after {
  @extend .pos-absolute;
  @extend .dis-inline-block;
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
}

.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}
.rotate-hover{
  @extend .pos-relative;
  span{
    @extend .dis-inline-block;
  }
  &, span , &::before{
    @extend .trans;
  }
  &::before{
    @extend .radius-50;
    @extend .after;
    width: 100%;
    height: 0;
    top:auto;
    bottom: 0;
    z-index: -1;
  }
  &:hover{
    @extend .white-text;
    span{
      @include transF(rotateX(360deg));
    }
    &::before{
      height: 100%;
    }
  }
}
.main-rotate-hover{
  @extend .rotate-hover;
  &::before{
    @extend .main-bg;
  }
}
.black-rotate-hover{
  @extend .rotate-hover;
  &::before{
    @extend .black-bg;
  }
}
.main-hover{
  @extend .trans;
  &:hover{
    @extend .main-text;
  }
}
.second-hover{
  @extend .trans;
  &:hover{
    @extend .second-text;
  }
}
.white-hover{
  @extend .trans;
  &:hover{
    @extend .white-text;
  }
}
.nice-scroll-bar{
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-right: 50px;
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $main;
    //   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    right: 5px;
  }
}

.butn {
  @extend .trans;
  @extend .dis-inline-block;
  @extend .mouse;
  @extend .f-med;
  @extend .txt-center;
  @extend .radius-50;
  text-decoration: none !important;
  outline: 0;
  border: 2px solid transparent;
  &:not(.not){
    min-width: 150px;
    padding: $margin-10 ($margin-30 + 20);
  }
  span {
    @extend .dis-inline-block;
  }
  img{
    width: 18px;
  }
  &.report{
    img{
      width: 22px;
    }
  }
  .hid {
    @extend .dis-none;
  }
  &, i {
    @extend .trans;
  }
  &.rounded-butn {
    @extend .radius-15;
  }
  &.medium-butn {
    padding: 18px 32px;
  }
  &.main-butn {
    @extend .white-text;
    @extend .main-bg;
    @extend .main-shadow;
    border-color: transparent;
    &:hover {
      @extend .bordered;
    }
    &.bordered {
      @extend .shadow-none;
      color: $main;
      background: transparent;
      border-color: $main;
      &:hover, &:focus {
        @extend .white-text;
        @extend .main-bg;
        border-color: $main;
      }
    }
  }
  &.second-butn {
    @extend .white-text;
    @extend .second-bg;
    border-color: $second;
    &:hover {
      @extend .bordered;
    }
    &.bordered {
      color: $second;
      background: transparent;
      &:hover, &:focus {
        @extend .black-text;
        @extend .second-bg;
        border-color: $second;
      }
    }
  }

  &.white-butn {
    @extend .white-bg;
    @extend .main-text;

    &.bordered {
      color: $white;
      background: transparent;
      border-color: $white;
      &:hover, &:focus {
      background: $white;
        color: $main;
      }
    }
    &:hover {
      @extend .bordered;
    }
  }
  &.grey2-butn {
    @extend .white-text;
    @extend .grey2-bg;
    border-color: $grey2;
    &:hover {
      @extend .bordered;
    }
    &.bordered {
      color: $grey2;
      background: transparent;
      &:hover, &:focus {
        @extend .black-text;
        @extend .grey2-bg;
        border-color: $grey2;
      }
    }
  }
  &.red-butn {
    @extend .red-bg;
    color: $white;
    border-color: $red;
    &:hover {
      @extend .bordered;
    }
    &.bordered {
      color: $red;
      background: transparent;
      &:hover, &:focus {
        @extend .white-text;
        @extend .red-bg;
        border-color: $red;
      }
    }
  }
  &.green-butn {
    @extend .white-text;
    @extend .green-bg;
    border-color: $green;
    &:hover {
      @extend .bordered;
    }
    &.bordered {
      color: $green;
      background: transparent;
      &:hover, &:focus {
        @extend .black-text;
        @extend .green-bg;
        border-color: $green;
      }
    }
  }
  &.font-butn {
    @extend .white-text;
    @extend .font-bg;
    border-color: $fontColor;
    &:hover {
      @extend .bordered;
    }
    &.bordered {
      color: $fontColor;
      background: transparent;
      &:hover, &:focus {
        @extend .black-text;
        @extend .font-bg;
        border-color: $fontColor;
      }
    }
  }
  &.light-butn {
    @extend .black-text;
    background: $light;
    border-color: $light;
    &.bordered {
      @extend .light-text;
      background: transparent;
      &:hover, &:focus {
        @extend .black-text;
        @extend .light-bg;
        border-color: $light;
      }
    }
  }
  &.black-butn {
    @extend .white-text;
    background: $black;
    border-color: $black;
    &:hover{
      @extend .bordered;
    }
    &.bordered {
      color: $black;
      background: transparent;
      &:hover, &:focus {
        @extend .white-text;
        @extend .black-bg;
        border-color: $black;
      }
    }
  }
  &.f-big{
    @extend .f-big;
  }
  &.top-right-rad-0{
    border-top-right-radius: 0;
  }
  &.top-left-rad-0{
    border-top-left-radius: 0;
  }
  &.bottom-right-rad-0{
    border-bottom-right-radius: 0;
  }
  &.bottom-left-rad-0{
    border-bottom-left-radius: 0;
  }
  &.back , &.next{
    img{
      padding-top: 5px;
      width: 50px;
    }
  }
  &.next{
    img{
      @extend .flip-y;
    }
  }
  &.disabled, &[disabled=disalbed]{
    @include opc(0.4);
  }
}

.middle {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.count-badge {
  @extend .pos-absolute;
  @extend .f-extrasmall;
  @extend .white-text;
  top: 0;
  right: 0;
  background: $red;
}

/***********
*
* Bootstrap Style
*
***********/

.navbar-toggler {
  @extend .appearance-none;
  @extend .border-0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: $black;
}

.nav-tabs .nav-link {
  @extend .f-medium;
}
.popup-container {
  @extend .pos-relative;
  z-index: 99999999;
  .popup {
    @extend .pos-fixed;
    @extend .dis-none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: $margin-30;
    z-index: 99;
    .content {
      @extend .dis-block;
      @extend .over-scroll;
      video, iframe, img {
        @extend .dis-block;
        @extend .txt-center;
        @extend .white-bg;
        @extend .pos-relative;
        margin: 0 auto;
        width: 100% !important;
        height: 100% !important;
        padding: $margin-10;
      }

    }
    &#popupimg {
      z-index: 99;
    }
  }
}
.closeView {
  @extend .trans;
  @extend .pos-absolute;
  @extend .mouse;
  @extend .txt-center;
  @extend .main-text;
  top: $margin-10;
  right: $margin-10;
  z-index: 99999;
  width: 50px;
  height: 50px;
  font-size: 26px;
  line-height: 50px;
  &:hover {
    @extend .second-text;
  }
  i {
    @extend .white-text;
    @extend .radius-circle;
    @extend .second-bg;
    @include transF(rotate(180deg));
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
.modal {
  .close {
    @extend .dis-block;
    @extend .opacity-1;
    width: 5px;
    background-size: 101% !important;
    &:hover{
      @extend .rotate-y-360;
    }
    &, span {
      @extend .trans;
      @extend .pos-relative;
      @extend .txt-center;
      margin: 0 auto;
      z-index: 9;
    }
    span {
      @extend .dis-inline-block;
      width: 50px;
      height: 25px;
      margin: 0 auto;
      left: -8px;
      @include transF(rotate(45deg));
      &::before, &::after {
        @extend .trans;
        @extend .after;
        background: transparent;
        width: 50%;
        height: 0;
        top: 0;
        right: 1px;
        left: 1px;
        margin: auto;
        border-top: 2px solid $black;
      }

      &::before {
        @include transF(rotate(90deg));
      }
    }
    &:hover {
      span {
        left: auto;
        @include transF(none);
        &::after {
          @extend .opacity-0;
        }
        &::before, &::after {
          border-top: 5px dotted $black;

        }
      }
    }
  }
}

[data-toggle=collapse] {
  @extend .dis-flex;
  .fl-left {
    @extend .txt-left;
    width: 85%;
  }
  .fl-right {
    @extend .txt-right;
    width: 15%;
  }

}

.def-border{
  border: 2px solid $grey2;
}
.def-border-top{
  border-top: 2px solid $grey2;
}
.def-border-bottom{
  border-bottom: 2px solid $grey2;
}
.def-border-right{
  border-right: 2px solid $grey2;
}
.def-border-left{
  border-left: 2px solid $grey2;
}

.form-group {
  @extend .pos-relative;
  .form-control {
    @extend .shadow-none;
    @extend .grey-bg;
    @extend .f-small;
    @extend .radius-0;
    border: 1 solid $grey2;
    padding: $margin-10 $margin-20 $margin-10 $margin-20;
        &.white {
      @extend .white-bg;
      border: 2px solid $grey !important;
    }
    &.disabled {
      background: $grey;
      border: 2px solid $grey;
    }
    &.mini{
      font-size: 14px;
      padding: $margin-10 5px;
    }
    &.big{
      font-size: inherit;
      padding: $margin-20 $margin-30;
    }
  }
  ::-webkit-input-placeholder { /* Edge */
    @include opc(0.5);
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    @include opc(0.5);
  }

  ::placeholder {
    @include opc(0.5);
  }
  .input-group-append, .input-group-prepend{
    .input-group-text{
    @extend .grey-bg;
    @extend .main-text;
  border: 0;
    }
  }

  i:not(.not) {
    @extend .pos-absolute;
    top: auto;
    bottom: $margin-10 + 5;
    left: $margin-20;
    img{
      width: 20px;
    }
  }
  .input-group-append, .input-group-prepend{
    @extend .f-small;
    @extend .f-med;
    padding-top: 10px;
  }
  &.mini{
    padding: 5px;
    margin: 0;
  }
}

.tooltip {
  z-index: 999999;
}

.tooltip-arrow,
.tooltip > .tooltip-inner {
  background-color: $black;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: $black;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $black;
}

.dropdown-toggle::after {
  display: none;
}

#top-bar {
  .dropdown-menu {
    a {
      &:hover {
        &::before {
          @extend .opacity-0;
        }
      }
    }
  }
}


/* open dropdown menu on hover */
.dropdown {
  /*  &:hover {
      .dropdown-menu {
        @extend .border-0;
        @extend .shadow;
        display: block;
        margin-top: 0;
        font-size: 13px;
      }
    }*/
  .dropdown-menu {
    margin-top: 0;
    font-size: 13px;
  }
}

/***********
*
* Main Style
*
***********/


.arrows {
  @extend .pos-relative;
  width: 150px;
  .next, .prev {
    @extend .pos-absolute;
    @extend .dis-inline-block;
    @extend .txt-center;
    @extend .radius-circle;
    @extend .mouse;
    @extend .trans;
    @extend .main-bg;
    @extend .white-text;
    top: calc(50% - 50px);
    font-size: 20px;
    bottom: auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid transparent;
    z-index: 33;
    img {
      height: 20px;
      margin: auto;
    }
    &:hover {
      @extend .trans-bg;
      @extend .main-text;
      border-color: $main;
    }
  }
  .next {
    right: $margin-20;
    left: auto;
    &:hover{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .prev {
    left: $margin-20;
    right: auto;
    &:hover{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}


.aa-switch-check {
  @extend .pos-relative;
  @extend .appearance-none;
  @extend .over-hidden;
  @extend .trans;
  background: transparent;
  border-radius: 50px;
  width: 35px;
  height: 15px;
  border: 1px solid $second;
  outline: none;
  color: #fff;

  &::before, &::after {
    @extend .trans;
    @extend .after;
  }
  &:after {
    left: auto;
    right: 5px;
    top: 3px;
    font-size: 8pt;

  }
  &::before {
    @extend .radius-circle;
    @extend .second-bg;
    width: 11px;
    height: 11px;
    left: 1.5px;
    top: 1px;
  }
  &:checked {
    border-color: $main;
    &::before {
      @extend .main-bg;
      left: auto;
      right: 1.5px;
    }
    &::after {
      left: 5px;
      right: auto;
    }
  }
}
.aa-check, .aa-radio {
  @extend .mouse;
  @extend .pos-relative;
  @extend .appearance-none;
  @extend .over-hidden;
  width: 20px;
  height: 20px;
  outline: none;
  margin-right: $margin-10;
  &:before {
    @extend .after;
    width: 100%;
    height: 100%;
    border: 1px solid #D5D5D5;
  }
  &:after {
    @extend .after;
    @extend .middle;
    background: $main;
    width: 50%;
    height: 50%;
    left: 1px;
    right: 1px;
    margin: auto;
    display: none;
  }
  &:checked {
    &:after {
      display: block;
    }
  }
}


input[type=radio], input[type=checkbox] {
  @extend .appearance-none;
  @extend .pos-relative;
  @extend .dis-inline-block;
  @extend .over-hidden;
  @extend .mouse;
  @extend .white-bg;
  border: 2px solid $black;
  outline: 0;
  width: 20px;
  height: 20px;
  top: 5px;
  padding: 0;
  &::before {
    @extend .after;
    @extend .bg-img;
    @extend .middle;
    @extend .opacity-0;
    padding: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 12px;
    height: auto;
    margin: auto;
    background-image: url("../imgs/icons/check.svg");
  }
  &:checked {
    @extend .trans-bg;
    border-color: $main;
    &::before {
      @extend .opacity-1;
    }
  }
}

.aa-check-select {
  @extend .appearance-none;
  @extend .pos-relative;
  @extend .dis-inline-block;
  @extend .over-hidden;
  @extend .mouse;
  @extend .white-bg;
  border: 1px solid $fontColor;
  outline: 0;
  width: 20px;
  height: 20px;
  top: 5px;
  padding: 0;
  &::before {
    @extend .after;
    @extend .bg-img;
    @extend .middle;
    @extend .opacity-0;
    padding: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 13px;
    height: auto;
    margin: auto;
    background-image: url("../imgs/icons/check.svg");
  }
  &:checked {
    @extend .green-bg;
    border-color: $green;
    &::before {
      @extend .opacity-1;
    }
  }
}
.before {
  @extend .after;
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  z-index: 1;
  &.before-20 {
    width: 20%;
  }
  &.before-30 {
    width: 30%;
  }
  &.before-40 {
    width: 40%;
  }
  &.before-50 {
    width: 50%;
  }
  &.before-60 {
    width: 60%;
  }
  &.before-70 {
    width: 70%;
  }
  &.before-80 {
    width: 80%;
  }
  &.before-90 {
    width: 90%;
  }
  &.before-100 {
    width: 100%;
  }
  &.bottom{
    background-position: bottom;
  }
}

.upload-area, .upload-vid ,.upload-file{
  @extend .pos-relative;
  @extend .def-border;
  @extend .over-hidden;
  @extend .txt-center;
  @extend .radius-11;
  height: 200px;
  .before, .vid-wrap{
    @extend .pos-absolute;
    @extend .bg-img;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .vid-wrap{
    @extend .opacity-0;
    &.active{
      @extend .opacity-1;
      z-index: 9;
    }
  }
  input[type=file] {
    @extend .pos-relative;
    @extend .mouse;
    @extend .opacity-0;
    outline: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .icon-area {
    @extend .pos-absolute;
    @extend .middle;
    @include transF(translateY(-50%));
    right: 1px;
    left: 1px;
    margin: 0 auto;
  }
  .del-img,.del-vid, .change-img{
    @extend .mouse;
    @extend .pos-absolute;
    @extend .radius-11;
    background: rgba(0,0,0,0.2);
    width: 30px;
    top: 15px;
    left: 15px;
    padding: 7px;
    z-index: 999;
  }
  .file-name{
    @extend .pos-absolute;
    @extend .middle;
    z-index: 3;
    right: 1px;
    left: 1px;
    margin: auto;
  }
  .del-file{
    @extend .mouse;
    @extend .dis-inline-block;
    @extend .pos-absolute;
    right: 1px;
    left: 1px;
    margin: auto;
    bottom: $margin-10;
    z-index: 9999;
  }
  .change-img{
    width: 35px;
    top: 15px;
    left: auto;
    right: 15px;
    padding: 5px;
    z-index: 1;
  }
  &:hover {
    .icon {
      @extend .white-text;
      @extend .main-bg;
    }
  }
}
select{
  height: auto !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../imgs/icons/arrow-bottom.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 12px);
  background-position-y: 17px;
  &:focus{
    background-image: url("../imgs/icons/arrow-up.svg");
  }
}