@media (max-width: 575.98px) {
  .width-xs-100 {
    width: 100%;
  }
  .bg-img {
    background-size: cover !important;
  }
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .txt-sm-center {
    text-align: center;
  }
  .def-border-xs-top {
    border-top: 1px solid #C0C0C0;
  }
  .def-border-xs-bottom {
    border-bottom: 1px solid #C0C0C0;
  }
  .def-border-xs-right {
    border-right: 1px solid #C0C0C0;
  }
  .def-border-xs-left {
    border-left: 1px solid #C0C0C0;
  }

  .select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above {
    width: auto !important;
    margin: auto !important;
    left: 1px !important;
    right: 1px !important;
    top: -5px !important;
  }

  .select2-container {
    left: auto !important;
  }
  .checked-list {
    ul {
      li {
        width: 100%;
      }
    }
  }
  .head-title {
    .f-huge {
      font-size: $big !important;
    }
  }
  .main-footer {
    text-align: center;

    .butn {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .top-menu .wrap{
    overflow: scroll;
  }
  .form-container{
    .form-control {
      padding: 20px !important;
    }
  }
  .steps-bar .step:not(:last-child)::after{
    display: none !important;
  }

  #MainSlider{
    .content{
      .header-title{
        h2{
          font-size: 4rem;
          letter-spacing: 10px;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .project-item {
    .content-wrapper {
      padding: 30px 20px;
    }
    .img {
      height: 250px;
      img {
        width: 100%;
      }
    }
  }
  .checked-list {
    ul {
      li {
        width: 100%;
      }
    }
  }

  #MainSlider{
    .content{
      .header-title{
        h2{
          font-size: 4rem;
          letter-spacing: 10px;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .def-border-sm-top {
    border-top: 1px solid #C0C0C0;
  }
  .def-border-sm-bottom {
    border-bottom: 1px solid #C0C0C0;
  }
  .def-border-sm-right {
    border-right: 1px solid #C0C0C0;
  }
  .def-border-sm-left {
    border-left: 1px solid #C0C0C0;
  }
  .width-xs-100 {
    width: 100%;
  }
  .width-sm-100 {
    width: 100%;
  }
  .bg-img {
    background-size: cover !important;
  }
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .main-footer {
    text-align: center;
  }
  .head-title {
    .f-huge {
      font-size: $big !important;
    }
  }
  .main-footer {
    text-align: center;

    .butn {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .top-menu .wrap{
    overflow: scroll;
  }

  .form-container{
    .form-control {
      padding: 20px !important;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 991.98px) {

  .head-title {
    .f-huge {
      font-size: $big !important;
    }
  }

  .main-footer {
    text-align: center;

    .butn {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .top-menu .wrap{
      overflow: scroll;
  }

  .form-container{
    .form-control {
      padding: 20px !important;
    }
  }
  .steps-bar .step:not(:last-child)::after{
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .def-border-md-top {
    border-top: 1px solid #C0C0C0;
  }
  .def-border-md-bottom {
    border-bottom: 1px solid #C0C0C0;
  }
  .def-border-md-right {
    border-right: 1px solid #C0C0C0;
  }
  .def-border-md-left {
    border-left: 1px solid #C0C0C0;
  }

  .bg-img {
    background-size: cover !important;
  }
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .main-footer {
    text-align: center;

    .butn {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .top-menu .wrap{
    overflow: scroll;
  }

  .form-container{
    .form-control {
      padding: 20px !important;
    }
  }
  .steps-bar .step:not(:last-child)::after{
    display: none !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .responsive-content {
    max-width: 100%;
  }
  .width-lg-50 {
    width: 50%;
  }
  .width-lg-100 {
    width: 100%;
  }
  .fl-lg-right {
    float: right;
  }
  .fl-lg-left {
    float: left;
  }
  .fl-lg-none {
    float: none;
  }
  .txt-lg-right {
    text-align: right;
  }
  .txt-lg-left {
    text-align: left;
  }
  .txt-lg-center {
    text-align: center;
  }
  .radius-lg-11 {
    @include rad(11px);
  }
  .def-border-lg-top {
    border-top: 1px solid #C0C0C0;
  }
  .def-border-lg-bottom {
    border-bottom: 1px solid #C0C0C0;
  }
  .def-border-lg-right {
    border-right: 1px solid #C0C0C0;
  }
  .def-border-lg-left {
    border-left: 1px solid #C0C0C0;
  }

  .checked-list {
    ul {
      li {
        width: calc(33.33% - 20px);
      }
    }
  }
  .form-container {

    input[type=submit] {
      position: absolute;
      top: 12px;
      right: 12px;
    }
    .form-control {
      padding: 20px 200px 20px 40px !important;
    }
  }
  #MainSlider{
    .content{
      .header-title{
        h2{
          font-size: 5rem;
          letter-spacing: 10px;
        }
      }
    }
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .width-xl-100 {
    width: 100%;
  }
  .fl-xl-right {
    float: right;
  }
  .fl-xl-left {
    float: left;
  }
  .modal-dialog.main-modal {
    max-width: 1000px;
  }
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1600px) {
  .responsive-content {
    max-width: 1200px;
  }
}
