
/***********
*
* Style Functions
*
***********/
@mixin trans($d) {
  -webkit-transition: $d;
  -moz-transition: $d;
  -o-transition: $d;
  -ms-transition: $d;
  transition: $d;
}

@mixin opc($p) {
  -webkit-opacity: $p;
  -moz-opacity: $p;
  -o-opacity: $p;
  -ms-opacity: $p;
  opacity: $p;
}
@mixin bgImg($p) {
  -moz-background-image: url($p);
  -o-background-image: url($p);
  -webkit-background-image: url($p);
  background-image: url($p);
}

@mixin transF($p) {
  -webkit-transform: $p;
  -moz-transform: $p;
  -o-transform: $p;
  -ms-transform: $p;
  transform: $p;
}
@mixin bShadow($s) {
  -webkit-box-shadow: $s;
  -moz-box-shadow: $s;
  -ms-box-shadow: $s;
  -o-box-shadow: $s;
  box-shadow: $s;
}
@mixin rad($s) {
  -webkit-border-radius: $s;
  -moz-border-radius: $s;
  -ms-border-radius: $s;
  -o-border-radius: $s;
  border-radius: $s;
}