@media (max-width: 575.98px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .offset-lg-2 {
    margin-right: 16.66667%;
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-right: 8.33333%;
    margin-left: 0;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
    margin-right: 0;
  }
  .ml-lg-2, .mx-lg-2 {
    margin-right: .5rem !important;
    //  margin-left: 0 !important;
  }
  .text-lg-right {
    text-align: left;
  }
  .text-lg-left {
    text-align: right;
  }
  .fl-lg-right {
    float: left;
  }
  .fl-lg-left {
    float: right;
  }
  .fl-lg-none {
    float: none;
  }
  .txt-lg-right {
    text-align: left;
  }
  .txt-lg-left {
    text-align: right;
  }
  .txt-lg-center {
    text-align: center;
  }
  .def-border-lg-right:not(.def-border-lg-left) {
    border-left: 1px solid #C0C0C0;
    border-right: 0;
  }
  .def-border-lg-left:not(.def-border-lg-right) {
    border-right: 1px solid #C0C0C0;
    border-left: 0;
  }

  .form-container input[type=submit] {
    left: 12px;
    right:auto
  }

  .form-container .form-control {
    padding: 20px 40px 20px 200px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .fl-xl-right {
    float: left;
  }
  .fl-xl-left {
    float: right;
  }
}
