@font-face {
  font-family: 'DroidArabicKufi';
  font-style: normal;
  src: url(../webfonts/ar/DroidKufiRegular.eot);
  src: url(../webfonts/ar/DroidKufiRegular.eot?#iefix) format('embedded-opentype'),
  url(../webfonts/ar/DroidKufiRegular.woff2) format('x-woff2'),
  url(../webfonts/ar/DroidKufiRegular.woff) format('woff'),
  url(../webfonts/ar/DroidKufiRegular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'DroidArabicKufi';
  src: url(../webfonts/ar/DroidKufiBold.ttf) format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: SegoeUI;
  src:
          local("Segoe UI Light"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src:
          local("Segoe UI Semilight"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src:
          local("Segoe UI"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src:
          local("Segoe UI Bold"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src:
          local("Segoe UI Semibold"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
          url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 700;
}
/*
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../webfonts/ar/Montserrat-ArabicLight.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../webfonts/ar/Montserrat-ArabicRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../webfonts/ar/Montserrat-ArabicMedium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../webfonts/ar/Montserrat-ArabicSemiBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../webfonts/ar/Montserrat-ArabicBold.ttf");
  font-weight: bold;
  font-style: normal;
}
*/
