
/***********
*
* vars
*
***********/

$fontColor: #3F4241;
$white: #ffffff;
$main: #00402F;
$second: #0A9973;
$black: #000;;
$lightSecond: #FFEAC9;
$light: #EEEBFB;
$grey: #eae9f1;
$grey2: #A7B6BF;
$grey3: #B7E0FF;
$gradient_1:linear-gradient(to left, #616B71, #A7B6BF);
$gradient_2:linear-gradient(to right, #616B71, #A7B6BF);
$red: #EC1941;
$orange: #F5BC38;
$yellow: #EDFE00;
$green: #50D559;
$lightGreen: #C2FFD0;
$margin-10: 10px;
$margin-20: 20px;
$margin-30: 30px;

$extrahuge:4.4em;
$huge:3em;
$extrabig:2.25em;
$big:2em;
$extramedium:1.75em;
$medium:1.375em;
$normal:1em;
$small:0.8em;
$extrasmall:9px;
