/**
 * Saphir Website
 * Version: 1.1
 * Powerd by:
 * Designer: Ayat Ahmed | instagram.com/ayaat.a7med
 * Copyrights 2021
 */
@import "vars";
@import "fonts";
@import "mixins";
@import "media";
@import "mainStyle";
@import "keyframes";

.container, .container-fluid {
  @extend .pos-relative;
  z-index: 3;
}

.main-title {
  font-family: Poppins, Arial;
}

.sub-title {
  font-family: Poppins, Arial;
}

body, html {
  @extend .over-x-hidden;
  background-color: #FBFAFD;
  scroll-behavior: smooth;
  &, a {
    @extend .sub-title;
    @extend .font-text;
    @extend .text-deco-none;
  }
}

body {
  padding: 0 !important;
}

.logo {

  width: 80px;
}

.top-header {
  min-height: 200px;
}

#topbar {
  @extend .pos-fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  .open-menu {
    @extend .dis-inline-block;
    @extend .pos-relative;
    @extend .radius-circle;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 2px solid $white;
    &::before, &::after, span {
      @extend .trans;
      @extend .after;
      @extend .white-bg;
      @extend .radius-50;
      height: 2px;
      width: calc(100% - 15px);
      right: 1px;
      left: 1px;
      margin: auto;
    }
    &::before {
      top: 10px;
    }
    &::after {
      top: auto;
      bottom: 10px
    }
    span {
      @extend .dis-block;
      top: 17px
    }
    &:hover, &.active {
      span {
        width: 0;
      }
      &::before {
        @include transF(rotate(45deg));
        top: 17px;
      }
      &::after {
        @include transF(rotate(-45deg));
        top: 11px;
      }
    }
    &.light {
      border-color: $white;
      &::after, &::before, span {
        @extend .white-bg;
      }
    }
  }
  .logo {
    .icon, .text {
      @extend .dis-block;
    }
    .icon-2, .text-2 {
      @extend .dis-none;
    }
  }
  &.darkbar {
    &:not(.lighter) {
      .open-menu {
        border-color: $main;
        &::after, &::before, span {
          @extend .main-bg;
        }
      }
    }
    &.not-darker {
      .open-menu {
        border-color: $white;
        &::after, &::before, span {
          @extend .white-bg;
        }
      }
    }
    &.lighter, &.not-darker {
      .logo {
        .icon:not(.icon-2), .text:not(.text-2) {
          @extend .dis-none;
        }
        .icon-2, .text-2 {
          @extend .dis-block;
        }
      }
    }
  }
  &.scrolling {
    .logo {
      .icon {
        display: none !important;
      }
    }
  }
}

.pro-map {
  iframe {
    width: 100% !important;
    height: 300px !important;
  }
}

.top-menu {
  @extend .trans;
  @extend .pos-fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  left: -250px;
  z-index: 10;
  .wrap {
    height: 100%;
    padding: ($margin-30 * 5) $margin-30;
    a:not(.close-menu) {
      @extend .white-text;
      @extend .second-hover;
      @extend .pos-relative;
      @extend .dis-block;
      text-transform: uppercase;
    }
    .close-menu {
      img {
        height: 25px;
      }
    }
  }
  &.show {
    left: 0;
  }
  &.light-menu {
    .wrap {
      @extend .white-bg;
      a {
        @extend .font-text;
      }
    }
  }
  &.full-menu {
    @extend .dis-none;
    width: 100%;
    left: 0;
    right: 0;
    height: auto;
    &.show {
      @extend .dis-block;
    }
  }
}

#MainSlider {
  .scroll-down{
    @extend .pos-absolute;
    top: 300px;
    right: 1px;
    left: 1px;
    margin: auto;
  }
  .carousel-item {
    @extend .over-hidden;
    min-height: 100vh;
    &::before {
      @extend .after;
      @extend .main-bg;
      @include opc(0.65);
      width: 100%;
      height: 100%;
      z-index: 1;

    }
    .content {
      @extend .pos-absolute;
      @extend .txt-center;
      z-index: 9;
      top: 35%;
      right: 1px;
      left: 1px;
      margin: auto;
      .logo-name {
        @extend .pos-absolute;
        width: 100%;
        right: 1px;
        left: 1px;
        margin: auto;
        &.move {
          @extend .trans;
          left: -150vw;
          transition-duration: 1s;
        }

      }
    }
    &.active {
      .content {
        .logo-name {
          &.move {
            left: 1px;
          }
        }
      }
    }
  }
}

.scroll-down {
  @extend .pos-relative;
  @extend .dis-inline-block;
  svg {
    @extend .trans;
    width: 30px;
    path, rect {
      @extend .trans;
    }
  }
  &:hover {
    svg {
      margin-top: 10px;
      path, rect {
        stroke: $second;
      }
    }
  }
}

.faq-content {
  .head {
    @extend .mouse;
    @extend .f-medium;
    @extend .pos-relative;
    font-weight: 600;
    padding: $margin-20 + 5 ($margin-20 * 2) $margin-20 + 5 $margin-20;
    border-top: 2px solid $main;
    .before {
      @extend .trans;
      @extend .bg-img;
      width: 25px;
      height: 25px;
      right: 25px;
      top: 10px;
      left: auto;
      svg {
        width: 25px;
        path, rect, circle {
          stroke: $main;
        }
      }
    }
    &:hover {
      @extend .grey-bg;
    }
    &[aria-expanded=true] {
      @extend .second-text;
      .before {
        svg {
          @include transF(rotate(45deg));
          path, rect, circle {
            stroke: $second;
          }
        }
      }
    }

  }
  .body {
    @extend .lh-30;
    padding: $margin-20;
    ul {
      margin-top: $margin-10;
      padding: 15px;
    }
  }
}

.main-photo {
  margin-bottom: -150px;
  .img {
    height: 650px;
  }
}

.sd-item {
  .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.sub-slider {
  .img-wrapper {
    //  min-height: 200px;
  }

  .arrows {
    .next, .prev {
      @extend .second-bg;
      @extend .white-text;
      &:hover {
        @extend .white-bg;
        @extend .second-text;
      }
    }
  }
}

.main-footer {
  .before {
    @include opc(0.55);
    z-index: 1;
  }
  .butn {
    max-width: max-content;
  }
}

.form-container {
  .form-control {
    @extend .trans-bg;
    @extend .shadow-none;
    @extend .white-text;
    @extend .f-med;
    border: 2px solid white;
    font-size: 1.2rem;
    border-radius: 100px;
  }
  ::-webkit-input-placeholder { /* Edge */
    color: $white;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white;
  }

  ::placeholder {
    color: $white;
  }
  input[type=submit] {
    @extend .butn;
  }
  &:hover {
    .form-control {
      @extend .white-bg;
      @extend .main-text;
    }
    input[type=submit] {
      @extend .second-butn;
    }
    ::-webkit-input-placeholder { /* Edge */
      color: $fontColor;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $fontColor;
    }

    ::placeholder {
      color: $fontColor;
    }
  }
}

.file-wrap {
  border-bottom: 2px solid $main;
  .ic {
    @extend .dis-inline-block;
    @extend .pos-absolute;
    @extend .butn;
    @extend .second-butn;
    bottom: 10px;
    right: 0;
    z-index: 1;
  }
  .form-control {
    @extend .pos-relative;
    @include opc(0);
    width: 100%;
    z-index: 9;
  }
  .delete-icon {
    z-index: 12;
  }
}

.select-wrap {
  @extend .pos-relative;
  &::before {
    @extend .trans;
    @extend .after;
    @include transF(rotate(-45deg));
    width: 20px;
    height: 20px;
    border-bottom: 2px solid $main;
    border-left: 2px solid $main;
    right: 0;
    bottom: 20px;
    top: auto;
    left: auto;
  }
  &.focused {
    &::before {
      @include transF(rotate(135deg))
    }
  }
}

.div {
  @extend .radius-50;
  width: 100%;
  height: 3px;
}

.steps-bar {
  margin-bottom: 40px;
  .step {
    &:not(:last-child) {
      &::after {
        @extend .after;
        @extend .main-bg;
        height: 3px;
        width: auto;
        left: 50%;
        right: -50%;
        bottom: 20px;
        top: auto;
        z-index: 1;
      }
    }
    .ti {
      span {
        @extend .pos-relative;
        @extend .txt-center;
        @extend .font-bg;
        @extend .white-text;
        @extend .f-normal;
        @extend .f-bold;
        @extend .dis-inline-block;
        @extend .opacity-0;
        padding: 15px 20px;
        margin-bottom: $margin-30;
        &::before {
          @extend .after;
          width: 0;
          height: 0;
          border-right: 15px solid transparent;
          border-left: 15px solid transparent;
          border-top: 15px solid $main;
          top: auto;
          bottom: -13px;
          right: 1px;
          left: 1px;
          margin: auto;
        }
      }
    }
    .num {
      @extend .txt-center;
      @extend .f-medium;
      @extend .font-bg;
      @extend .f-bold;
      @extend .white-text;
      @extend .radius-circle;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
    .ti, .num {
      z-index: 2;
    }
    &.selected, &.active {
      .num {
        @extend .second-bg;
      }
    }
    &.active {
      .ti {
        span {
          @extend .second-bg;
          @extend .opacity-1;
          &::before {
            border-top-color: $second;
          }
        }
      }
    }
    &.selected {
      &::after {
        @extend .second-bg;
      }
    }
  }
}

.request-projectt {
  .form-group {
    @extend .pos-relative;
    .form-control {
      @extend .trans-bg;
      @extend .f-medium;
      @extend .radius-0;
      @extend .shadow-none;
      padding: $margin-20;
      margin-bottom: $margin-20 + 40;
      border: 0;
      border-bottom: 3px solid $main;
      + label {
        @extend .trans;
        @extend .cap;
        @extend .pos-absolute;
        @extend .f-medium;
        @extend .f-bold;
        top: 15px;
        font-weight: 500;
      }
      &:focus, &.not-empty {
        & + label {
          @extend .f-bold;
          @extend .f-normal;
          top: -10px;
        }
      }
      &.error {
        border-color: $red;
      }
      &.success {
        border-color: $second;
      }
    }
  }
}

.serv-item {
  @extend .txt-center;
  .wrap {
    @extend .pos-relative;
    @extend .over-hidden;
    @extend .shadow;
    @extend .radius-0;
    width: 100%;
    margin-bottom: $margin-20;
    padding: ($margin-30 * 2) $margin-30 + 10;
    .img {
      @extend .pos-relative;
      width: 150px;
      height: 150px;
      margin: 0 auto $margin-30 + 10 auto;
      padding: $margin-30 + 10;
      &::before {
        @extend .after;
        @extend .grey-bg;
        @extend .radius-circle;
        width: 100%;
        height: 100%;
        top: 0;
      }
    }
    .title {
      @extend .f-extramedium;
      @extend .main-text;
      margin-bottom: $margin-30;

    }
    .price {
      @extend .f-extramedium;
      @extend .f-bold;
      @extend .second-text;
    }
    .select-butn {
      @extend .butn;
      @extend .second-butn;
      @extend .f-medium;
      margin-top: $margin-20 * 2;
      .select {
        @extend .dis-block;
      }
      .selected {
        @extend .dis-none;
      }
    }
  }
  &.active, &:hover {
    .wrap {
      @extend .main-bg;
      .title, .price {
        @extend .white-text;
      }
      .select-butn {
        @extend .white-butn;
      }
    }
  }
  &.active {
    .select-butn {
      .selected {
        display: block;
      }
      .select {
        @extend .dis-none;
      }
    }
  }
}

.color-calendar.basic {
  width: 100%;
  max-width: 100%;
}

.color-calendar.basic .calendar__header {
  background: $second;
  padding: 25px 10px;
}

.color-calendar.basic .calendar__arrow-prev .calendar__arrow-inner::before,
.color-calendar.basic .calendar__monthyear,
.color-calendar.basic .calendar__arrow-next .calendar__arrow-inner::before {
  @extend .white-text;
}

.color-calendar.basic .calendar__header,
.color-calendar.basic .calendar__weekdays {
  display: flex;
}

.color-calendar.basic .calendar__weekdays .calendar__weekday {
  width: calc(100% / 7);
  text-align: center;
}

.color-calendar .calendar__days {
  grid-template-columns: repeat(7, minmax(20px, calc(100% / 7)));
}

.color-calendar .calendar__days .calendar__day {
  padding: 30px 0;
}

.color-calendar .calendar__days .calendar__day-text {
  @extend .main-text;
}

.color-calendar.basic .calendar__days .calendar__day-selected .calendar__day-text {
  color: $white;
}

.paid-tabs {
  @extend .over-hidden;
  @extend .pos-relative;
  .paid-tab {
    @extend .white-bg;
    @extend .opacity-0;
    @extend .pos-absolute;
    padding-top: $margin-20;
    padding-bottom: $margin-20;
    z-index: -1;
    &.active {
      @extend .opacity-1;
      @extend .pos-relative;
      z-index: 9;
    }
  }
}