/**
 * Saphir Website
 * Version: 1.1
 * Powerd by:
 * Designer: Ayat Ahmed | instagram.com/ayaat.a7med
 * Copyrights 2021
 */
/***********
*
* vars
*
***********/
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Light.otf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-SemiBold.otf");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("../webfonts/en/Radomir Tinkov - Gilroy-Bold.otf");
  font-weight: bold;
  font-style: normal; }
/***********
*
* Style Functions
*
***********/
@media (max-width: 575.98px) {
  .width-xs-100 {
    width: 100%; }

  .bg-img, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap, .faq-content .head .before {
    background-size: cover !important; }

  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .txt-sm-center {
    text-align: center; }

  .def-border-xs-top {
    border-top: 1px solid #C0C0C0; }

  .def-border-xs-bottom {
    border-bottom: 1px solid #C0C0C0; }

  .def-border-xs-right {
    border-right: 1px solid #C0C0C0; }

  .def-border-xs-left {
    border-left: 1px solid #C0C0C0; }

  .select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above {
    width: auto !important;
    margin: auto !important;
    left: 1px !important;
    right: 1px !important;
    top: -5px !important; }

  .select2-container {
    left: auto !important; }

  .checked-list ul li {
    width: 100%; }

  .head-title .f-huge {
    font-size: 2em !important; }

  .main-footer {
    text-align: center; }
    .main-footer .butn, .main-footer .form-container input[type=submit], .form-container .main-footer input[type=submit], .main-footer .file-wrap .ic, .file-wrap .main-footer .ic, .main-footer .serv-item .wrap .select-butn, .serv-item .wrap .main-footer .select-butn {
      margin-right: auto;
      margin-left: auto; }

  .top-menu .wrap {
    overflow: scroll; }

  .form-container .form-control {
    padding: 20px !important; }

  .steps-bar .step:not(:last-child)::after {
    display: none !important; }

  #MainSlider .content .header-title h2 {
    font-size: 4rem;
    letter-spacing: 10px; } }
@media (min-width: 576px) {
  .project-item .content-wrapper {
    padding: 30px 20px; }
  .project-item .img {
    height: 250px; }
    .project-item .img img {
      width: 100%; }

  .checked-list ul li {
    width: 100%; }

  #MainSlider .content .header-title h2 {
    font-size: 4rem;
    letter-spacing: 10px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .def-border-sm-top {
    border-top: 1px solid #C0C0C0; }

  .def-border-sm-bottom {
    border-bottom: 1px solid #C0C0C0; }

  .def-border-sm-right {
    border-right: 1px solid #C0C0C0; }

  .def-border-sm-left {
    border-left: 1px solid #C0C0C0; }

  .width-xs-100 {
    width: 100%; }

  .width-sm-100 {
    width: 100%; }

  .bg-img, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap, .faq-content .head .before {
    background-size: cover !important; }

  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .main-footer {
    text-align: center; }

  .head-title .f-huge {
    font-size: 2em !important; }

  .main-footer {
    text-align: center; }
    .main-footer .butn, .main-footer .form-container input[type=submit], .form-container .main-footer input[type=submit], .main-footer .file-wrap .ic, .file-wrap .main-footer .ic, .main-footer .serv-item .wrap .select-butn, .serv-item .wrap .main-footer .select-butn {
      margin-right: auto;
      margin-left: auto; }

  .top-menu .wrap {
    overflow: scroll; }

  .form-container .form-control {
    padding: 20px !important; } }
@media (min-width: 576px) and (max-width: 991.98px) {
  .head-title .f-huge {
    font-size: 2em !important; }

  .main-footer {
    text-align: center; }
    .main-footer .butn, .main-footer .form-container input[type=submit], .form-container .main-footer input[type=submit], .main-footer .file-wrap .ic, .file-wrap .main-footer .ic, .main-footer .serv-item .wrap .select-butn, .serv-item .wrap .main-footer .select-butn {
      margin-right: auto;
      margin-left: auto; }

  .top-menu .wrap {
    overflow: scroll; }

  .form-container .form-control {
    padding: 20px !important; }

  .steps-bar .step:not(:last-child)::after {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .def-border-md-top {
    border-top: 1px solid #C0C0C0; }

  .def-border-md-bottom {
    border-bottom: 1px solid #C0C0C0; }

  .def-border-md-right {
    border-right: 1px solid #C0C0C0; }

  .def-border-md-left {
    border-left: 1px solid #C0C0C0; }

  .bg-img, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap, .faq-content .head .before {
    background-size: cover !important; }

  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .main-footer {
    text-align: center; }
    .main-footer .butn, .main-footer .form-container input[type=submit], .form-container .main-footer input[type=submit], .main-footer .file-wrap .ic, .file-wrap .main-footer .ic, .main-footer .serv-item .wrap .select-butn, .serv-item .wrap .main-footer .select-butn {
      margin-right: auto;
      margin-left: auto; }

  .top-menu .wrap {
    overflow: scroll; }

  .form-container .form-control {
    padding: 20px !important; }

  .steps-bar .step:not(:last-child)::after {
    display: none !important; } }
@media (min-width: 992px) {
  .responsive-content {
    max-width: 100%; }

  .width-lg-50 {
    width: 50%; }

  .width-lg-100 {
    width: 100%; }

  .fl-lg-right {
    float: right; }

  .fl-lg-left {
    float: left; }

  .fl-lg-none {
    float: none; }

  .txt-lg-right {
    text-align: right; }

  .txt-lg-left {
    text-align: left; }

  .txt-lg-center {
    text-align: center; }

  .radius-lg-11 {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px; }

  .def-border-lg-top {
    border-top: 1px solid #C0C0C0; }

  .def-border-lg-bottom {
    border-bottom: 1px solid #C0C0C0; }

  .def-border-lg-right {
    border-right: 1px solid #C0C0C0; }

  .def-border-lg-left {
    border-left: 1px solid #C0C0C0; }

  .checked-list ul li {
    width: calc(33.33% - 20px); }

  .form-container input[type=submit] {
    position: absolute;
    top: 12px;
    right: 12px; }
  .form-container .form-control {
    padding: 20px 200px 20px 40px !important; }

  #MainSlider .content .header-title h2 {
    font-size: 5rem;
    letter-spacing: 10px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }
@media (min-width: 1200px) {
  .width-xl-100 {
    width: 100%; }

  .fl-xl-right {
    float: right; }

  .fl-xl-left {
    float: left; }

  .modal-dialog.main-modal {
    max-width: 1000px; }

  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }
@media (min-width: 1600px) {
  .responsive-content {
    max-width: 1200px; } }
/***********
*
* Style Elements
*
* Designer: Ayat Ahmed | instagram.com/ayaat.a7med
* Copyrights 2021
*
**********/
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.mouse, .butn, .form-container input[type=submit], .file-wrap .ic, .serv-item .wrap .select-butn, .closeView, .arrows .next, .arrows .prev, .aa-check, .aa-radio, input[type=radio], input[type=checkbox], .aa-check-select, .upload-area input[type=file], .upload-vid input[type=file], .upload-file input[type=file], .upload-area .del-img, .upload-area .del-vid, .upload-area .change-img, .upload-vid .del-img, .upload-vid .del-vid, .upload-vid .change-img, .upload-file .del-img, .upload-file .del-vid, .upload-file .change-img, .upload-area .del-file, .upload-vid .del-file, .upload-file .del-file, .faq-content .head {
  cursor: pointer !important; }

.flip-y, .butn.next img, .form-container input.next[type=submit] img, .file-wrap .next.ic img, .serv-item .wrap .next.select-butn img {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.flip-x {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg); }

.text-deco-none, body, body a, html, html a {
  text-decoration: none !important; }

.jRight,
.jLeft,
.jCenter {
  text-align: justify; }

.jCenter {
  text-align-last: center; }

.txt-left, [data-toggle=collapse] .fl-left {
  text-align: left; }

.txt-right, [data-toggle=collapse] .fl-right {
  text-align: right; }

.txt-center, .butn, .form-container input[type=submit], .file-wrap .ic, .serv-item .wrap .select-butn, .popup-container .popup .content video, .popup-container .popup .content iframe, .popup-container .popup .content img, .closeView, .modal .close, .modal .close span, .arrows .next, .arrows .prev, .upload-area, .upload-vid, .upload-file, #MainSlider .carousel-item .content, .steps-bar .step .ti span, .steps-bar .step .num, .serv-item {
  text-align: center; }

.txt-uppercase {
  text-transform: uppercase; }

.f-extrahuge {
  font-size: 4.4em; }

.f-huge {
  font-size: 3em; }

.f-extrabig {
  font-size: 2.25em; }

.f-big, .butn.f-big, .form-container input.f-big[type=submit], .file-wrap .f-big.ic, .serv-item .wrap .f-big.select-butn {
  font-size: 2em; }

.f-medium, .nav-tabs .nav-link, .faq-content .head, .steps-bar .step .num, .request-projectt .form-group .form-control, .request-projectt .form-group .form-control + label, .serv-item .wrap .select-butn {
  font-size: 1.375em; }

.f-extramedium, .serv-item .wrap .title, .serv-item .wrap .price {
  font-size: 1.75em; }

.f-normal, .steps-bar .step .ti span, .request-projectt .form-group .form-control:focus + label, .request-projectt .form-group .form-control.not-empty + label {
  font-size: 1em;
  font-weight: 300; }

.f-small, .form-group .form-control, .form-group .input-group-append, .form-group .input-group-prepend {
  font-size: 0.8em; }

.f-extrasmall, .count-badge {
  font-size: 9px; }

.f-light {
  font-weight: 200; }

.f-med, .butn, .form-container input[type=submit], .file-wrap .ic, .serv-item .wrap .select-butn, .form-group .input-group-append, .form-group .input-group-prepend, .form-container .form-control {
  font-weight: 500; }

.f-semibold {
  font-weight: 800; }

.f-bold, .steps-bar .step .ti span, .steps-bar .step .num, .request-projectt .form-group .form-control + label, .request-projectt .form-group .form-control:focus + label, .request-projectt .form-group .form-control.not-empty + label, .serv-item .wrap .price {
  font-weight: bold; }

.lh-25 {
  line-height: 25px; }

.lh-30, .faq-content .body {
  line-height: 30px; }

.lh-35 {
  line-height: 35px; }

.lh-40 {
  line-height: 40px; }

.lh-50 {
  line-height: 50px; }

.lh-60 {
  line-height: 60px; }

.lh-75 {
  line-height: 75px; }

.trans-bg, .arrows .next:hover, .arrows .prev:hover, input[type=radio]:checked, input[type=checkbox]:checked, .form-container .form-control, .request-projectt .form-group .form-control {
  background: transparent; }

.main-bg, .main-rotate-hover::before, .butn.main-butn, .form-container input.main-butn[type=submit], .file-wrap .main-butn.ic, .serv-item .wrap .main-butn.select-butn, .butn.main-butn.bordered:hover, .butn.main-butn:hover, .form-container input.main-butn[type=submit]:hover, .file-wrap .main-butn.ic:hover, .butn.main-butn.second-butn:hover, .butn.main-butn.white-butn:hover, .butn.main-butn.grey2-butn:hover, .butn.main-butn.red-butn:hover, .butn.main-butn.green-butn:hover, .butn.main-butn.font-butn:hover, .butn.main-butn.black-butn:hover, .butn.main-butn.bordered:focus, .butn.main-butn:focus:hover, .form-container input.main-butn.bordered[type=submit]:focus, .file-wrap .main-butn.bordered.ic:focus, .arrows .next, .arrows .prev, .aa-switch-check:checked::before, .upload-area:hover .icon, .upload-vid:hover .icon, .upload-file:hover .icon, #topbar.darkbar:not(.lighter) .open-menu::after, #topbar.darkbar:not(.lighter) .open-menu::before, #topbar.darkbar:not(.lighter) .open-menu span, #MainSlider .carousel-item::before, .steps-bar .step:not(:last-child)::after, .serv-item.active .wrap, .serv-item:hover .wrap {
  background: #00402F; }

.light-bg, .butn.light-butn.bordered:hover, .butn.light-butn.main-butn:hover, .form-container input.light-butn.main-butn[type=submit]:hover, .butn.light-butn.second-butn:hover, .form-container input.light-butn.second-butn[type=submit]:hover, .form-container:hover input.light-butn[type=submit]:hover, .file-wrap .light-butn.ic:hover, .serv-item .wrap .light-butn.select-butn:hover, .butn.light-butn.white-butn:hover, .form-container input.light-butn.white-butn[type=submit]:hover, .butn.light-butn.grey2-butn:hover, .form-container input.light-butn.grey2-butn[type=submit]:hover, .butn.light-butn.red-butn:hover, .form-container input.light-butn.red-butn[type=submit]:hover, .butn.light-butn.green-butn:hover, .form-container input.light-butn.green-butn[type=submit]:hover, .butn.light-butn.font-butn:hover, .form-container input.light-butn.font-butn[type=submit]:hover, .butn.light-butn.black-butn:hover, .form-container input.light-butn.black-butn[type=submit]:hover, .form-container input.light-butn.bordered[type=submit]:hover, .butn.light-butn.bordered:focus, .form-container input.light-butn.bordered[type=submit]:focus, .file-wrap .light-butn.bordered.ic:focus, .serv-item .wrap .light-butn.bordered.select-butn:focus {
  background: #EEEBFB; }

.second-bg, .butn.second-butn, .form-container input.second-butn[type=submit], .form-container:hover input[type=submit], .form-container .file-wrap input[type=submit].ic, .file-wrap .form-container input[type=submit].ic, .file-wrap .ic, .serv-item .wrap .select-butn, .butn.second-butn.bordered:hover, .butn.second-butn.main-butn:hover, .file-wrap .main-butn.ic:hover, .butn.second-butn:hover, .form-container input.second-butn[type=submit]:hover, .form-container:hover input[type=submit]:hover, .file-wrap .ic:hover, .serv-item .wrap .select-butn:hover, .butn.second-butn.white-butn:hover, .file-wrap .white-butn.ic:hover, .butn.second-butn.grey2-butn:hover, .file-wrap .grey2-butn.ic:hover, .butn.second-butn.red-butn:hover, .file-wrap .red-butn.ic:hover, .butn.second-butn.green-butn:hover, .file-wrap .green-butn.ic:hover, .butn.second-butn.font-butn:hover, .file-wrap .font-butn.ic:hover, .butn.second-butn.black-butn:hover, .file-wrap .black-butn.ic:hover, .file-wrap .bordered.ic:hover, .file-wrap .ic.butn.second-butn:hover, .butn.second-butn.bordered:focus, .butn.second-butn:focus:hover, .file-wrap .ic:focus:hover, .form-container input.second-butn.bordered[type=submit]:focus, .form-container:hover input.bordered[type=submit]:focus, .file-wrap .bordered.ic:focus, .serv-item .wrap .bordered.select-butn:focus, .closeView i, .aa-switch-check::before, .sub-slider .arrows .next, .sub-slider .arrows .prev, .steps-bar .step.selected .num, .steps-bar .step.active .num, .steps-bar .step.active .ti span, .steps-bar .step.selected::after {
  background: #0A9973; }

.red-bg, .butn.red-butn, .form-container input.red-butn[type=submit], .file-wrap .red-butn.ic, .serv-item .wrap .red-butn.select-butn, .butn.red-butn.bordered:hover, .butn.red-butn.main-butn:hover, .butn.red-butn.second-butn:hover, .file-wrap .red-butn.ic:hover, .butn.red-butn.white-butn:hover, .butn.red-butn.grey2-butn:hover, .butn.red-butn:hover, .form-container input.red-butn[type=submit]:hover, .butn.red-butn.green-butn:hover, .butn.red-butn.font-butn:hover, .butn.red-butn.black-butn:hover, .butn.red-butn.bordered:focus, .butn.red-butn:focus:hover, .form-container input.red-butn.bordered[type=submit]:focus, .file-wrap .red-butn.bordered.ic:focus {
  background: #EC1941; }

.green-bg, .butn.green-butn, .form-container input.green-butn[type=submit], .file-wrap .green-butn.ic, .serv-item .wrap .green-butn.select-butn, .butn.green-butn.bordered:hover, .butn.green-butn.main-butn:hover, .butn.green-butn.second-butn:hover, .file-wrap .green-butn.ic:hover, .butn.green-butn.white-butn:hover, .butn.green-butn.grey2-butn:hover, .butn.green-butn.red-butn:hover, .butn.green-butn:hover, .form-container input.green-butn[type=submit]:hover, .butn.green-butn.font-butn:hover, .butn.green-butn.black-butn:hover, .butn.green-butn.bordered:focus, .butn.green-butn:focus:hover, .form-container input.green-butn.bordered[type=submit]:focus, .file-wrap .green-butn.bordered.ic:focus, .aa-check-select:checked {
  background: #50D559; }

.orange-bg {
  background: #F5BC38; }

.yellow-bg {
  background: #EDFE00; }

.grey-bg, .form-group .form-control, .form-group .input-group-append .input-group-text, .form-group .input-group-prepend .input-group-text, .faq-content .head:hover, .serv-item .wrap .img::before {
  background: #eae9f1; }

.grey2-bg, .butn.grey2-butn, .form-container input.grey2-butn[type=submit], .file-wrap .grey2-butn.ic, .serv-item .wrap .grey2-butn.select-butn, .butn.grey2-butn.bordered:hover, .butn.grey2-butn.main-butn:hover, .butn.grey2-butn.second-butn:hover, .file-wrap .grey2-butn.ic:hover, .butn.grey2-butn.white-butn:hover, .butn.grey2-butn:hover, .form-container input.grey2-butn[type=submit]:hover, .butn.grey2-butn.red-butn:hover, .butn.grey2-butn.green-butn:hover, .butn.grey2-butn.font-butn:hover, .butn.grey2-butn.black-butn:hover, .butn.grey2-butn.bordered:focus, .butn.grey2-butn:focus:hover, .form-container input.grey2-butn.bordered[type=submit]:focus, .file-wrap .grey2-butn.bordered.ic:focus {
  background: #A7B6BF; }

.grey3-bg {
  background: #B7E0FF; }

.white-bg, .butn.white-butn, .form-container input.white-butn[type=submit], .file-wrap .white-butn.ic, .serv-item .wrap .white-butn.select-butn, .serv-item.active .wrap .select-butn, .serv-item:hover .wrap .select-butn, .popup-container .popup .content video, .popup-container .popup .content iframe, .popup-container .popup .content img, .form-group .form-control.white, input[type=radio], input[type=checkbox], .aa-check-select, #topbar .open-menu::before, #topbar .open-menu::after, #topbar .open-menu span, #topbar .open-menu.light::after, #topbar .open-menu.light::before, #topbar .open-menu.light span, #topbar.darkbar.not-darker .open-menu::after, #topbar.darkbar.not-darker .open-menu::before, #topbar.darkbar.not-darker .open-menu span, .top-menu.light-menu .wrap, .sub-slider .arrows .next:hover, .sub-slider .arrows .prev:hover, .form-container:hover .form-control, .paid-tabs .paid-tab {
  background: #ffffff; }

.black-bg, .black-rotate-hover::before, .butn.black-butn.bordered:hover, .butn.black-butn.main-butn:hover, .butn.black-butn.second-butn:hover, .file-wrap .black-butn.ic:hover, .serv-item .wrap .black-butn.select-butn:hover, .butn.black-butn.white-butn:hover, .butn.black-butn.grey2-butn:hover, .butn.black-butn.red-butn:hover, .butn.black-butn.green-butn:hover, .butn.black-butn.font-butn:hover, .butn.black-butn:hover, .form-container input.black-butn[type=submit]:hover, .butn.black-butn.bordered:focus, .butn.black-butn:focus:hover, .form-container input.black-butn.bordered[type=submit]:focus, .file-wrap .black-butn.bordered.ic:focus, .serv-item .wrap .black-butn.bordered.select-butn:focus {
  background: #000; }

.font-bg, .butn.font-butn, .form-container input.font-butn[type=submit], .file-wrap .font-butn.ic, .serv-item .wrap .font-butn.select-butn, .butn.font-butn.bordered:hover, .butn.font-butn.main-butn:hover, .butn.font-butn.second-butn:hover, .file-wrap .font-butn.ic:hover, .butn.font-butn.white-butn:hover, .butn.font-butn.grey2-butn:hover, .butn.font-butn.red-butn:hover, .butn.font-butn.green-butn:hover, .butn.font-butn:hover, .form-container input.font-butn[type=submit]:hover, .butn.font-butn.black-butn:hover, .butn.font-butn.bordered:focus, .butn.font-butn:focus:hover, .form-container input.font-butn.bordered[type=submit]:focus, .file-wrap .font-butn.bordered.ic:focus, .steps-bar .step .ti span, .steps-bar .step .num {
  background: #3F4241; }

.invert {
  -webkite-filter: invert(100%);
  -moz-filter: invert(100%);
  filter: invert(100%); }

.clear-both {
  clear: both; }

.delay-02 {
  animation-delay: 0.2s; }

.delay-04 {
  animation-delay: 0.4s; }

.delay-06 {
  animation-delay: 0.6s; }

.delay-08 {
  animation-delay: 0.8s; }

.delay-1 {
  animation-delay: 1s; }

.delay-12 {
  animation-delay: 1.2s; }

.delay-14 {
  animation-delay: 1.4s; }

.dis-block, .popup-container .popup .content, .popup-container .popup .content video, .popup-container .popup .content iframe, .popup-container .popup .content img, .modal .close, #topbar .open-menu span, #topbar .logo .icon, #topbar .logo .text, #topbar.darkbar.lighter .logo .icon-2, #topbar.darkbar.lighter .logo .text-2, #topbar.darkbar.not-darker .logo .icon-2, #topbar.darkbar.not-darker .logo .text-2, .top-menu .wrap a:not(.close-menu), .top-menu.full-menu.show, .serv-item .wrap .select-butn .select {
  display: block; }

.dis-inline-block, .after, .cover::before, .rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before, .modal .close span::before, .modal .close span::after, .aa-switch-check::before, .aa-switch-check::after, .aa-check:before, .aa-radio:before, .aa-check:after, .aa-radio:after, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .before, #topbar .open-menu::before, #topbar .open-menu::after, #topbar .open-menu span, #MainSlider .carousel-item::before, .select-wrap::before, .steps-bar .step:not(:last-child)::after, .steps-bar .step .ti span::before, .serv-item .wrap .img::before, .rotate-hover span, .main-rotate-hover span, .black-rotate-hover span, .butn, .form-container input[type=submit], .file-wrap .ic, .serv-item .wrap .select-butn, .butn span, .form-container input[type=submit] span, .file-wrap .ic span, .serv-item .wrap .select-butn span, .modal .close span, .arrows .next, .arrows .prev, input[type=radio], input[type=checkbox], .aa-check-select, .upload-area .del-file, .upload-vid .del-file, .upload-file .del-file, #topbar .open-menu, .scroll-down, .steps-bar .step .ti span {
  display: inline-block; }

.dis-flex, [data-toggle=collapse] {
  display: flex;
  flex-wrap: wrap; }

.dis-none, .butn .hid, .form-container input[type=submit] .hid, .file-wrap .ic .hid, .serv-item .wrap .select-butn .hid, .popup-container .popup, #topbar .logo .icon-2, #topbar .logo .text-2, #topbar.darkbar.lighter .logo .icon:not(.icon-2), #topbar.darkbar.lighter .logo .text:not(.text-2), #topbar.darkbar.not-darker .logo .icon:not(.icon-2), #topbar.darkbar.not-darker .logo .text:not(.text-2), .top-menu.full-menu, .serv-item .wrap .select-butn .selected, .serv-item.active .select-butn .select {
  display: none; }

.filter-grey {
  filter: grayscale(100%); }

.filter-none {
  filter: none; }

.alien-items-c {
  align-items: center; }

.pos-relative, .cover, .rotate-hover, .main-rotate-hover, .black-rotate-hover, .popup-container, .popup-container .popup .content video, .popup-container .popup .content iframe, .popup-container .popup .content img, .modal .close, .modal .close span, .form-group, .arrows, .aa-switch-check, .aa-check, .aa-radio, input[type=radio], input[type=checkbox], .aa-check-select, .upload-area, .upload-vid, .upload-file, .upload-area input[type=file], .upload-vid input[type=file], .upload-file input[type=file], .container, .container-fluid, #topbar .open-menu, .top-menu .wrap a:not(.close-menu), .scroll-down, .faq-content .head, .file-wrap .form-control, .select-wrap, .steps-bar .step .ti span, .request-projectt .form-group, .serv-item .wrap, .serv-item .wrap .img, .paid-tabs, .paid-tabs .paid-tab.active {
  position: relative; }

.pos-absolute, .after, .cover::before, .rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before, .modal .close span::before, .modal .close span::after, .aa-switch-check::before, .aa-switch-check::after, .aa-check:before, .aa-radio:before, .aa-check:after, .aa-radio:after, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .before, #topbar .open-menu::before, #topbar .open-menu::after, #topbar .open-menu span, #MainSlider .carousel-item::before, .select-wrap::before, .steps-bar .step:not(:last-child)::after, .steps-bar .step .ti span::before, .serv-item .wrap .img::before, .count-badge, .closeView, .form-group i:not(.not), .arrows .next, .arrows .prev, .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap, .upload-area .icon-area, .upload-vid .icon-area, .upload-file .icon-area, .upload-area .del-img, .upload-area .del-vid, .upload-area .change-img, .upload-vid .del-img, .upload-vid .del-vid, .upload-vid .change-img, .upload-file .del-img, .upload-file .del-vid, .upload-file .change-img, .upload-area .file-name, .upload-vid .file-name, .upload-file .file-name, .upload-area .del-file, .upload-vid .del-file, .upload-file .del-file, #MainSlider .scroll-down, #MainSlider .carousel-item .content, #MainSlider .carousel-item .content .logo-name, .file-wrap .ic, .request-projectt .form-group .form-control + label, .paid-tabs .paid-tab {
  position: absolute; }

.pos-fixed, .popup-container .popup, #topbar, .top-menu {
  position: fixed; }

.pos-static {
  position: static; }

.appearance-none, .navbar-toggler, .aa-switch-check, .aa-check, .aa-radio, input[type=radio], input[type=checkbox], .aa-check-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.shadow, .serv-item .wrap {
  -webkit-box-shadow: 0 25px 40px rgba(89, 136, 210, 0.17);
  -moz-box-shadow: 0 25px 40px rgba(89, 136, 210, 0.17);
  -ms-box-shadow: 0 25px 40px rgba(89, 136, 210, 0.17);
  -o-box-shadow: 0 25px 40px rgba(89, 136, 210, 0.17);
  box-shadow: 0 25px 40px rgba(89, 136, 210, 0.17); }

.main-shadow, .butn.main-butn, .form-container input.main-butn[type=submit], .file-wrap .main-butn.ic, .serv-item .wrap .main-butn.select-butn {
  -webkit-box-shadow: 0 20px 30px rgba(44, 37, 231, 0.05);
  -moz-box-shadow: 0 20px 30px rgba(44, 37, 231, 0.05);
  -ms-box-shadow: 0 20px 30px rgba(44, 37, 231, 0.05);
  -o-box-shadow: 0 20px 30px rgba(44, 37, 231, 0.05);
  box-shadow: 0 20px 30px rgba(44, 37, 231, 0.05); }

.dark-shadow {
  -webkit-box-shadow: 0 10px 10px rgba(117, 134, 233, 0.2);
  -moz-box-shadow: 0 10px 10px rgba(117, 134, 233, 0.2);
  -ms-box-shadow: 0 10px 10px rgba(117, 134, 233, 0.2);
  -o-box-shadow: 0 10px 10px rgba(117, 134, 233, 0.2);
  box-shadow: 0 10px 10px rgba(117, 134, 233, 0.2); }

.shadow-none, .butn.main-butn.bordered, .butn.main-butn:hover, .form-container input.main-butn[type=submit]:hover, .file-wrap .main-butn.ic:hover, .serv-item .wrap .main-butn.select-butn:hover, .form-container input.main-butn.bordered[type=submit], .file-wrap .main-butn.bordered.ic, .serv-item .wrap .main-butn.bordered.select-butn, .form-group .form-control, .form-container .form-control, .request-projectt .form-group .form-control {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

.opacity-0, .modal .close:hover span::after, #top-bar .dropdown-menu a:hover::before, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .vid-wrap, .upload-vid .vid-wrap, .upload-file .vid-wrap, .upload-area input[type=file], .upload-vid input[type=file], .upload-file input[type=file], .steps-bar .step .ti span, .paid-tabs .paid-tab {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  -ms-opacity: 0;
  opacity: 0; }

.opacity-05 {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5; }

.opacity-1, .modal .close, input[type=radio]:checked::before, input[type=checkbox]:checked::before, .aa-check-select:checked::before, .upload-area .vid-wrap.active, .upload-vid .vid-wrap.active, .upload-file .vid-wrap.active, .steps-bar .step.active .ti span, .paid-tabs .paid-tab.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  -ms-opacity: 1;
  opacity: 1; }

.over-x-hidden, body, html {
  overflow-x: hidden; }

.over-y-hidden {
  overflow-y: hidden; }

.over-x-scroll {
  overflow-x: scroll; }

.over-y-scroll {
  overflow-y: scroll; }

.over-hidden, .aa-switch-check, .aa-check, .aa-radio, input[type=radio], input[type=checkbox], .aa-check-select, .upload-area, .upload-vid, .upload-file, #MainSlider .carousel-item, .serv-item .wrap, .paid-tabs {
  overflow: hidden; }

.over-scroll, .popup-container .popup .content {
  overflow: scroll; }

.over-visible {
  overflow: visible; }

.radius-10 {
  border-radius: 10px; }

.radius-11, .upload-area, .upload-vid, .upload-file, .upload-area .del-img, .upload-area .del-vid, .upload-area .change-img, .upload-vid .del-img, .upload-vid .del-vid, .upload-vid .change-img, .upload-file .del-img, .upload-file .del-vid, .upload-file .change-img {
  border-radius: 11px; }

.radius-15, .butn.rounded-butn, .form-container input.rounded-butn[type=submit], .file-wrap .rounded-butn.ic, .serv-item .wrap .rounded-butn.select-butn {
  border-radius: 15px; }

.radius-20 {
  border-radius: 20px; }

.radius-30 {
  border-radius: 30px; }

.radius-40 {
  border-radius: 40px; }

.radius-50, .rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before, .butn, .form-container input[type=submit], .file-wrap .ic, .serv-item .wrap .select-butn, #topbar .open-menu::before, #topbar .open-menu::after, #topbar .open-menu span, .div {
  border-radius: 50px; }

.radius-circle, .closeView i, .arrows .next, .arrows .prev, .aa-switch-check::before, #topbar .open-menu, .steps-bar .step .num, .serv-item .wrap .img::before {
  border-radius: 50%; }

.radius-0, .form-group .form-control, .request-projectt .form-group .form-control, .serv-item .wrap {
  border-radius: 0 !important; }

.border-0, .navbar-toggler {
  border: none !important; }

.rotate-y-360, .modal .close:hover {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg); }

.cover::before {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5;
  top: 0; }

.bg-fx-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed; }

.bg-img, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap, .faq-content .head .before {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center; }

.cap, .request-projectt .form-group .form-control + label {
  text-transform: capitalize; }

.font-text, body, body a, html, html a, .top-menu.light-menu .wrap a {
  color: #3F4241; }

.main-text, .main-hover:hover, .butn.white-butn, .form-container input.white-butn[type=submit], .file-wrap .white-butn.ic, .serv-item .wrap .white-butn.select-butn, .serv-item.active .wrap .select-butn, .serv-item:hover .wrap .select-butn, .closeView, .form-group .input-group-append .input-group-text, .form-group .input-group-prepend .input-group-text, .arrows .next:hover, .arrows .prev:hover, .form-container:hover .form-control, .serv-item .wrap .title, .color-calendar .calendar__days .calendar__day-text {
  color: #00402F; }

.light-text, .butn.light-butn.bordered, .butn.light-butn.main-butn:hover, .form-container input.light-butn.main-butn[type=submit]:hover, .butn.light-butn.second-butn:hover, .form-container input.light-butn.second-butn[type=submit]:hover, .form-container:hover input.light-butn[type=submit]:hover, .file-wrap .light-butn.ic:hover, .serv-item .wrap .light-butn.select-butn:hover, .butn.light-butn.white-butn:hover, .form-container input.light-butn.white-butn[type=submit]:hover, .butn.light-butn.grey2-butn:hover, .form-container input.light-butn.grey2-butn[type=submit]:hover, .butn.light-butn.red-butn:hover, .form-container input.light-butn.red-butn[type=submit]:hover, .butn.light-butn.green-butn:hover, .form-container input.light-butn.green-butn[type=submit]:hover, .butn.light-butn.font-butn:hover, .form-container input.light-butn.font-butn[type=submit]:hover, .butn.light-butn.black-butn:hover, .form-container input.light-butn.black-butn[type=submit]:hover, .form-container input.light-butn.bordered[type=submit], .file-wrap .light-butn.bordered.ic, .serv-item .wrap .light-butn.bordered.select-butn {
  color: #EEEBFB; }

.second-text, .second-hover:hover, .top-menu .wrap a:hover:not(.close-menu), .closeView:hover, .faq-content .head[aria-expanded=true], .sub-slider .arrows .next:hover, .sub-slider .arrows .prev:hover, .serv-item .wrap .price {
  color: #0A9973; }

.red-text {
  color: #EC1941; }

.green-text {
  color: #50D559; }

.orange-text {
  color: #F5BC38; }

.yellow-text {
  color: #EDFE00; }

.white-text, .rotate-hover:hover, .main-rotate-hover:hover, .black-rotate-hover:hover, .white-hover:hover, .butn.main-butn, .form-container input.main-butn[type=submit], .file-wrap .main-butn.ic, .serv-item .wrap .main-butn.select-butn, .butn.main-butn.bordered:hover, .butn.main-butn:hover, .form-container input.main-butn[type=submit]:hover, .file-wrap .main-butn.ic:hover, .serv-item .wrap .main-butn.select-butn:hover, .butn.main-butn.second-butn:hover, .butn.main-butn.white-butn:hover, .butn.main-butn.grey2-butn:hover, .butn.main-butn.red-butn:hover, .butn.main-butn.green-butn:hover, .butn.main-butn.font-butn:hover, .butn.main-butn.black-butn:hover, .butn.main-butn.bordered:focus, .butn.main-butn:focus:hover, .form-container input.main-butn[type=submit]:focus:hover, .file-wrap .main-butn.ic:focus:hover, .serv-item .wrap .main-butn.select-butn:focus:hover, .form-container input.main-butn.bordered[type=submit]:focus, .file-wrap .main-butn.bordered.ic:focus, .serv-item .wrap .main-butn.bordered.select-butn:focus, .butn.second-butn, .form-container input.second-butn[type=submit], .form-container:hover input[type=submit], .form-container .file-wrap input[type=submit].ic, .file-wrap .form-container input[type=submit].ic, .file-wrap .ic, .serv-item .wrap .select-butn, .butn.grey2-butn, .form-container input.grey2-butn[type=submit], .file-wrap .grey2-butn.ic, .serv-item .wrap .grey2-butn.select-butn, .butn.red-butn.bordered:hover, .butn.red-butn.second-butn:hover, .file-wrap .red-butn.ic:hover, .serv-item .wrap .red-butn.select-butn:hover, .butn.red-butn.white-butn:hover, .butn.red-butn.grey2-butn:hover, .butn.red-butn:hover, .form-container input.red-butn[type=submit]:hover, .butn.red-butn.green-butn:hover, .butn.red-butn.font-butn:hover, .butn.red-butn.black-butn:hover, .butn.red-butn.bordered:focus, .file-wrap .red-butn.ic:focus:hover, .serv-item .wrap .red-butn.select-butn:focus:hover, .butn.red-butn:focus:hover, .form-container input.red-butn[type=submit]:focus:hover, .form-container input.red-butn.bordered[type=submit]:focus, .file-wrap .red-butn.bordered.ic:focus, .serv-item .wrap .red-butn.bordered.select-butn:focus, .butn.green-butn, .form-container input.green-butn[type=submit], .file-wrap .green-butn.ic, .serv-item .wrap .green-butn.select-butn, .butn.font-butn, .form-container input.font-butn[type=submit], .file-wrap .font-butn.ic, .serv-item .wrap .font-butn.select-butn, .butn.black-butn, .form-container input.black-butn[type=submit], .file-wrap .black-butn.ic, .serv-item .wrap .black-butn.select-butn, .butn.black-butn.bordered:hover, .butn.black-butn.second-butn:hover, .file-wrap .black-butn.ic:hover, .serv-item .wrap .black-butn.select-butn:hover, .butn.black-butn.white-butn:hover, .butn.black-butn.grey2-butn:hover, .butn.black-butn.green-butn:hover, .butn.black-butn.font-butn:hover, .butn.black-butn:hover, .form-container input.black-butn[type=submit]:hover, .butn.black-butn.bordered:focus, .file-wrap .black-butn.ic:focus:hover, .serv-item .wrap .black-butn.select-butn:focus:hover, .butn.black-butn:focus:hover, .form-container input.black-butn[type=submit]:focus:hover, .form-container input.black-butn.bordered[type=submit]:focus, .file-wrap .black-butn.bordered.ic:focus, .serv-item .wrap .black-butn.bordered.select-butn:focus, .count-badge, .closeView i, .arrows .next, .arrows .prev, .upload-area:hover .icon, .upload-vid:hover .icon, .upload-file:hover .icon, .top-menu .wrap a:not(.close-menu), .sub-slider .arrows .next, .sub-slider .arrows .prev, .form-container .form-control, .steps-bar .step .ti span, .steps-bar .step .num, .serv-item.active .wrap .title, .serv-item.active .wrap .price, .serv-item:hover .wrap .title, .serv-item:hover .wrap .price, .color-calendar.basic .calendar__arrow-prev .calendar__arrow-inner::before,
.color-calendar.basic .calendar__monthyear,
.color-calendar.basic .calendar__arrow-next .calendar__arrow-inner::before {
  color: #ffffff; }

.black-text, .butn.second-butn.bordered:hover, .butn.second-butn.main-butn:hover, .file-wrap .main-butn.ic:hover, .butn.second-butn:hover, .form-container input.second-butn[type=submit]:hover, .form-container:hover input[type=submit]:hover, .form-container .file-wrap input[type=submit].ic:hover, .file-wrap .form-container input[type=submit].ic:hover, .file-wrap .ic:hover, .serv-item .wrap .select-butn:hover, .butn.second-butn.white-butn:hover, .file-wrap .white-butn.ic:hover, .butn.second-butn.grey2-butn:hover, .file-wrap .grey2-butn.ic:hover, .butn.second-butn.red-butn:hover, .file-wrap .red-butn.ic:hover, .butn.second-butn.green-butn:hover, .file-wrap .green-butn.ic:hover, .butn.second-butn.font-butn:hover, .file-wrap .font-butn.ic:hover, .butn.second-butn.black-butn:hover, .file-wrap .black-butn.ic:hover, .file-wrap .bordered.ic:hover, .file-wrap .ic.butn.second-butn:hover, .butn.second-butn.bordered:focus, .butn.second-butn:focus:hover, .form-container input.second-butn[type=submit]:focus:hover, .form-container:hover input[type=submit]:focus:hover, .file-wrap .ic:focus:hover, .serv-item .wrap .select-butn:focus:hover, .form-container input.second-butn.bordered[type=submit]:focus, .form-container:hover input.bordered[type=submit]:focus, .file-wrap .bordered.ic:focus, .serv-item .wrap .bordered.select-butn:focus, .butn.grey2-butn.bordered:hover, .butn.grey2-butn.main-butn:hover, .serv-item .wrap .grey2-butn.select-butn:hover, .butn.grey2-butn.white-butn:hover, .butn.grey2-butn:hover, .form-container input.grey2-butn[type=submit]:hover, .butn.grey2-butn.red-butn:hover, .butn.grey2-butn.green-butn:hover, .butn.grey2-butn.font-butn:hover, .butn.grey2-butn.black-butn:hover, .butn.grey2-butn.bordered:focus, .file-wrap .grey2-butn.ic:focus:hover, .serv-item .wrap .grey2-butn.select-butn:focus:hover, .butn.grey2-butn:focus:hover, .form-container input.grey2-butn[type=submit]:focus:hover, .form-container input.grey2-butn.bordered[type=submit]:focus, .file-wrap .grey2-butn.bordered.ic:focus, .serv-item .wrap .grey2-butn.bordered.select-butn:focus, .butn.green-butn.bordered:hover, .butn.green-butn.main-butn:hover, .serv-item .wrap .green-butn.select-butn:hover, .butn.green-butn.white-butn:hover, .butn.green-butn.red-butn:hover, .butn.green-butn:hover, .form-container input.green-butn[type=submit]:hover, .butn.green-butn.font-butn:hover, .butn.green-butn.black-butn:hover, .butn.green-butn.bordered:focus, .file-wrap .green-butn.ic:focus:hover, .serv-item .wrap .green-butn.select-butn:focus:hover, .butn.green-butn:focus:hover, .form-container input.green-butn[type=submit]:focus:hover, .form-container input.green-butn.bordered[type=submit]:focus, .file-wrap .green-butn.bordered.ic:focus, .serv-item .wrap .green-butn.bordered.select-butn:focus, .butn.font-butn.bordered:hover, .butn.font-butn.main-butn:hover, .serv-item .wrap .font-butn.select-butn:hover, .butn.font-butn.white-butn:hover, .butn.font-butn.red-butn:hover, .butn.font-butn:hover, .form-container input.font-butn[type=submit]:hover, .butn.font-butn.black-butn:hover, .butn.font-butn.bordered:focus, .file-wrap .font-butn.ic:focus:hover, .serv-item .wrap .font-butn.select-butn:focus:hover, .butn.font-butn:focus:hover, .form-container input.font-butn[type=submit]:focus:hover, .form-container input.font-butn.bordered[type=submit]:focus, .file-wrap .font-butn.bordered.ic:focus, .serv-item .wrap .font-butn.bordered.select-butn:focus, .butn.light-butn, .form-container input.light-butn[type=submit], .file-wrap .light-butn.ic, .serv-item .wrap .light-butn.select-butn, .butn.light-butn.bordered:hover, .butn.light-butn.main-butn:hover, .form-container input.light-butn.main-butn[type=submit]:hover, .butn.light-butn.second-butn:hover, .form-container input.light-butn.second-butn[type=submit]:hover, .form-container:hover input.light-butn[type=submit]:hover, .file-wrap .light-butn.ic:hover, .serv-item .wrap .light-butn.select-butn:hover, .butn.light-butn.white-butn:hover, .form-container input.light-butn.white-butn[type=submit]:hover, .butn.light-butn.grey2-butn:hover, .form-container input.light-butn.grey2-butn[type=submit]:hover, .butn.light-butn.red-butn:hover, .form-container input.light-butn.red-butn[type=submit]:hover, .butn.light-butn.green-butn:hover, .form-container input.light-butn.green-butn[type=submit]:hover, .butn.light-butn.font-butn:hover, .form-container input.light-butn.font-butn[type=submit]:hover, .butn.light-butn.black-butn:hover, .form-container input.light-butn.black-butn[type=submit]:hover, .form-container input.light-butn.bordered[type=submit]:hover, .butn.light-butn.bordered:focus, .butn.light-butn.main-butn:focus:hover, .form-container input.light-butn.main-butn[type=submit]:focus:hover, .butn.light-butn.second-butn:focus:hover, .form-container input.light-butn.second-butn[type=submit]:focus:hover, .form-container:hover input.light-butn[type=submit]:focus:hover, .file-wrap .light-butn.ic:focus:hover, .serv-item .wrap .light-butn.select-butn:focus:hover, .butn.light-butn.white-butn:focus:hover, .form-container input.light-butn.white-butn[type=submit]:focus:hover, .butn.light-butn.grey2-butn:focus:hover, .form-container input.light-butn.grey2-butn[type=submit]:focus:hover, .butn.light-butn.red-butn:focus:hover, .form-container input.light-butn.red-butn[type=submit]:focus:hover, .butn.light-butn.green-butn:focus:hover, .form-container input.light-butn.green-butn[type=submit]:focus:hover, .butn.light-butn.font-butn:focus:hover, .form-container input.light-butn.font-butn[type=submit]:focus:hover, .butn.light-butn.black-butn:focus:hover, .form-container input.light-butn.black-butn[type=submit]:focus:hover, .form-container input.light-butn.bordered[type=submit]:focus, .file-wrap .light-butn.bordered.ic:focus, .serv-item .wrap .light-butn.bordered.select-butn:focus {
  color: #000; }

.dir-rtl {
  direction: rtl; }

.dir-ltr {
  direction: ltr; }

.trans, .rotate-hover, .main-rotate-hover, .black-rotate-hover, .rotate-hover span, .main-rotate-hover span, .black-rotate-hover span, .rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before, .main-hover, .second-hover, .top-menu .wrap a:not(.close-menu), .white-hover, .butn, .form-container input[type=submit], .file-wrap .ic, .serv-item .wrap .select-butn, .butn i, .form-container input[type=submit] i, .file-wrap .ic i, .serv-item .wrap .select-butn i, .closeView, .modal .close, .modal .close span, .modal .close span::before, .modal .close span::after, .arrows .next, .arrows .prev, .aa-switch-check, .aa-switch-check::before, .aa-switch-check::after, #topbar .open-menu::before, #topbar .open-menu::after, #topbar .open-menu span, .top-menu, #MainSlider .carousel-item .content .logo-name.move, .scroll-down svg, .scroll-down svg path, .scroll-down svg rect, .faq-content .head .before, .select-wrap::before, .request-projectt .form-group .form-control + label {
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1); }

.grad-bg {
  background: linear-gradient(to left, #616B71, #A7B6BF); }

.grad-bg-2 {
  background: linear-gradient(to right, #616B71, #A7B6BF); }

.after, .cover::before, .rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before, .modal .close span::before, .modal .close span::after, .aa-switch-check::before, .aa-switch-check::after, .aa-check:before, .aa-radio:before, .aa-check:after, .aa-radio:after, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .before, #topbar .open-menu::before, #topbar .open-menu::after, #topbar .open-menu span, #MainSlider .carousel-item::before, .select-wrap::before, .steps-bar .step:not(:last-child)::after, .steps-bar .step .ti span::before, .serv-item .wrap .img::before {
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  left: 0; }

.v-top {
  vertical-align: top; }

.v-middle {
  vertical-align: middle; }

.v-bottom {
  vertical-align: bottom; }

.fl-left {
  float: left; }

.fl-right {
  float: right; }

.rotate-hover::before, .main-rotate-hover::before, .black-rotate-hover::before {
  width: 100%;
  height: 0;
  top: auto;
  bottom: 0;
  z-index: -1; }
.rotate-hover:hover span, .main-rotate-hover:hover span, .black-rotate-hover:hover span {
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg); }
.rotate-hover:hover::before, .main-rotate-hover:hover::before, .black-rotate-hover:hover::before {
  height: 100%; }

.nice-scroll-bar::-webkit-scrollbar {
  width: 5px; }
.nice-scroll-bar::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-right: 50px;
  background: #ffffff; }
.nice-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #00402F;
  right: 5px; }

.butn, .form-container input[type=submit], .file-wrap .ic, .serv-item .wrap .select-butn {
  text-decoration: none !important;
  outline: 0;
  border: 2px solid transparent; }
  .butn:not(.not), .form-container input[type=submit]:not(.not), .file-wrap .ic:not(.not), .serv-item .wrap .select-butn:not(.not) {
    min-width: 150px;
    padding: 10px 50px; }
  .butn img, .form-container input[type=submit] img, .file-wrap .ic img, .serv-item .wrap .select-butn img {
    width: 18px; }
  .butn.report img, .form-container input.report[type=submit] img, .file-wrap .report.ic img, .serv-item .wrap .report.select-butn img {
    width: 22px; }
  .butn.medium-butn, .form-container input.medium-butn[type=submit], .file-wrap .medium-butn.ic, .serv-item .wrap .medium-butn.select-butn {
    padding: 18px 32px; }
  .butn.main-butn, .form-container input.main-butn[type=submit], .file-wrap .main-butn.ic, .serv-item .wrap .main-butn.select-butn {
    border-color: transparent; }
    .butn.main-butn.bordered, .butn.main-butn:hover, .form-container input.main-butn[type=submit]:hover, .file-wrap .main-butn.ic:hover, .serv-item .wrap .main-butn.select-butn:hover, .form-container input.main-butn.bordered[type=submit], .file-wrap .main-butn.bordered.ic, .serv-item .wrap .main-butn.bordered.select-butn {
      color: #00402F;
      background: transparent;
      border-color: #00402F; }
      .butn.main-butn.bordered:hover, .butn.main-butn:hover, .form-container input.main-butn[type=submit]:hover, .file-wrap .main-butn.ic:hover, .serv-item .wrap .main-butn.select-butn:hover, .butn.main-butn.bordered:focus, .butn.main-butn:focus:hover, .form-container input.main-butn[type=submit]:focus:hover, .file-wrap .main-butn.ic:focus:hover, .serv-item .wrap .main-butn.select-butn:focus:hover, .form-container input.main-butn.bordered[type=submit]:focus, .file-wrap .main-butn.bordered.ic:focus, .serv-item .wrap .main-butn.bordered.select-butn:focus {
        border-color: #00402F; }
  .butn.second-butn, .form-container input.second-butn[type=submit], .form-container:hover input[type=submit], .form-container .file-wrap input[type=submit].ic, .file-wrap .form-container input[type=submit].ic, .file-wrap .ic, .serv-item .wrap .select-butn {
    border-color: #0A9973; }
    .butn.second-butn.bordered, .butn.second-butn:hover, .form-container input.second-butn[type=submit]:hover, .form-container:hover input[type=submit]:hover, .file-wrap .ic:hover, .serv-item .wrap .select-butn:hover, .form-container input.second-butn.bordered[type=submit], .form-container:hover input.bordered[type=submit], .file-wrap .bordered.ic, .serv-item .wrap .bordered.select-butn {
      color: #0A9973;
      background: transparent; }
      .butn.second-butn.bordered:hover, .butn.second-butn:hover, .form-container input.second-butn[type=submit]:hover, .form-container:hover input[type=submit]:hover, .file-wrap .ic:hover, .serv-item .wrap .select-butn:hover, .butn.second-butn.bordered:focus, .butn.second-butn:focus:hover, .form-container input.second-butn[type=submit]:focus:hover, .form-container:hover input[type=submit]:focus:hover, .file-wrap .ic:focus:hover, .serv-item .wrap .select-butn:focus:hover, .form-container input.second-butn.bordered[type=submit]:focus, .form-container:hover input.bordered[type=submit]:focus, .file-wrap .bordered.ic:focus, .serv-item .wrap .bordered.select-butn:focus {
        border-color: #0A9973; }
  .butn.white-butn.bordered, .file-wrap .white-butn.ic:hover, .serv-item .wrap .white-butn.select-butn:hover, .serv-item.active .wrap .select-butn:hover, .serv-item:hover .wrap .select-butn:hover, .butn.white-butn:hover, .form-container input.white-butn[type=submit]:hover, .form-container input.white-butn.bordered[type=submit], .file-wrap .white-butn.bordered.ic, .serv-item .wrap .white-butn.bordered.select-butn, .serv-item.active .wrap .bordered.select-butn, .serv-item:hover .wrap .bordered.select-butn {
    color: #ffffff;
    background: transparent;
    border-color: #ffffff; }
    .butn.white-butn.bordered:hover, .file-wrap .white-butn.ic:hover, .serv-item .wrap .white-butn.select-butn:hover, .serv-item.active .wrap .select-butn:hover, .serv-item:hover .wrap .select-butn:hover, .butn.white-butn:hover, .form-container input.white-butn[type=submit]:hover, .butn.white-butn.bordered:focus, .file-wrap .white-butn.ic:focus:hover, .serv-item .wrap .white-butn.select-butn:focus:hover, .serv-item.active .wrap .select-butn:focus:hover, .serv-item:hover .wrap .select-butn:focus:hover, .butn.white-butn:focus:hover, .form-container input.white-butn[type=submit]:focus:hover, .form-container input.white-butn.bordered[type=submit]:focus, .file-wrap .white-butn.bordered.ic:focus, .serv-item .wrap .white-butn.bordered.select-butn:focus, .serv-item.active .wrap .bordered.select-butn:focus, .serv-item:hover .wrap .bordered.select-butn:focus {
      background: #ffffff;
      color: #00402F; }
  .butn.grey2-butn, .form-container input.grey2-butn[type=submit], .file-wrap .grey2-butn.ic, .serv-item .wrap .grey2-butn.select-butn {
    border-color: #A7B6BF; }
    .butn.grey2-butn.bordered, .file-wrap .grey2-butn.ic:hover, .serv-item .wrap .grey2-butn.select-butn:hover, .butn.grey2-butn:hover, .form-container input.grey2-butn[type=submit]:hover, .form-container input.grey2-butn.bordered[type=submit], .file-wrap .grey2-butn.bordered.ic, .serv-item .wrap .grey2-butn.bordered.select-butn {
      color: #A7B6BF;
      background: transparent; }
      .butn.grey2-butn.bordered:hover, .file-wrap .grey2-butn.ic:hover, .serv-item .wrap .grey2-butn.select-butn:hover, .butn.grey2-butn:hover, .form-container input.grey2-butn[type=submit]:hover, .butn.grey2-butn.bordered:focus, .file-wrap .grey2-butn.ic:focus:hover, .serv-item .wrap .grey2-butn.select-butn:focus:hover, .butn.grey2-butn:focus:hover, .form-container input.grey2-butn[type=submit]:focus:hover, .form-container input.grey2-butn.bordered[type=submit]:focus, .file-wrap .grey2-butn.bordered.ic:focus, .serv-item .wrap .grey2-butn.bordered.select-butn:focus {
        border-color: #A7B6BF; }
  .butn.red-butn, .form-container input.red-butn[type=submit], .file-wrap .red-butn.ic, .serv-item .wrap .red-butn.select-butn {
    color: #ffffff;
    border-color: #EC1941; }
    .butn.red-butn.bordered, .file-wrap .red-butn.ic:hover, .serv-item .wrap .red-butn.select-butn:hover, .butn.red-butn:hover, .form-container input.red-butn[type=submit]:hover, .form-container input.red-butn.bordered[type=submit], .file-wrap .red-butn.bordered.ic, .serv-item .wrap .red-butn.bordered.select-butn {
      color: #EC1941;
      background: transparent; }
      .butn.red-butn.bordered:hover, .file-wrap .red-butn.ic:hover, .serv-item .wrap .red-butn.select-butn:hover, .butn.red-butn:hover, .form-container input.red-butn[type=submit]:hover, .butn.red-butn.bordered:focus, .file-wrap .red-butn.ic:focus:hover, .serv-item .wrap .red-butn.select-butn:focus:hover, .butn.red-butn:focus:hover, .form-container input.red-butn[type=submit]:focus:hover, .form-container input.red-butn.bordered[type=submit]:focus, .file-wrap .red-butn.bordered.ic:focus, .serv-item .wrap .red-butn.bordered.select-butn:focus {
        border-color: #EC1941; }
  .butn.green-butn, .form-container input.green-butn[type=submit], .file-wrap .green-butn.ic, .serv-item .wrap .green-butn.select-butn {
    border-color: #50D559; }
    .butn.green-butn.bordered, .file-wrap .green-butn.ic:hover, .serv-item .wrap .green-butn.select-butn:hover, .butn.green-butn:hover, .form-container input.green-butn[type=submit]:hover, .form-container input.green-butn.bordered[type=submit], .file-wrap .green-butn.bordered.ic, .serv-item .wrap .green-butn.bordered.select-butn {
      color: #50D559;
      background: transparent; }
      .butn.green-butn.bordered:hover, .file-wrap .green-butn.ic:hover, .serv-item .wrap .green-butn.select-butn:hover, .butn.green-butn:hover, .form-container input.green-butn[type=submit]:hover, .butn.green-butn.bordered:focus, .file-wrap .green-butn.ic:focus:hover, .serv-item .wrap .green-butn.select-butn:focus:hover, .butn.green-butn:focus:hover, .form-container input.green-butn[type=submit]:focus:hover, .form-container input.green-butn.bordered[type=submit]:focus, .file-wrap .green-butn.bordered.ic:focus, .serv-item .wrap .green-butn.bordered.select-butn:focus {
        border-color: #50D559; }
  .butn.font-butn, .form-container input.font-butn[type=submit], .file-wrap .font-butn.ic, .serv-item .wrap .font-butn.select-butn {
    border-color: #3F4241; }
    .butn.font-butn.bordered, .file-wrap .font-butn.ic:hover, .serv-item .wrap .font-butn.select-butn:hover, .butn.font-butn:hover, .form-container input.font-butn[type=submit]:hover, .form-container input.font-butn.bordered[type=submit], .file-wrap .font-butn.bordered.ic, .serv-item .wrap .font-butn.bordered.select-butn {
      color: #3F4241;
      background: transparent; }
      .butn.font-butn.bordered:hover, .file-wrap .font-butn.ic:hover, .serv-item .wrap .font-butn.select-butn:hover, .butn.font-butn:hover, .form-container input.font-butn[type=submit]:hover, .butn.font-butn.bordered:focus, .file-wrap .font-butn.ic:focus:hover, .serv-item .wrap .font-butn.select-butn:focus:hover, .butn.font-butn:focus:hover, .form-container input.font-butn[type=submit]:focus:hover, .form-container input.font-butn.bordered[type=submit]:focus, .file-wrap .font-butn.bordered.ic:focus, .serv-item .wrap .font-butn.bordered.select-butn:focus {
        border-color: #3F4241; }
  .butn.light-butn, .form-container input.light-butn[type=submit], .file-wrap .light-butn.ic, .serv-item .wrap .light-butn.select-butn {
    background: #EEEBFB;
    border-color: #EEEBFB; }
    .butn.light-butn.bordered, .butn.light-butn.main-butn:hover, .form-container input.light-butn.main-butn[type=submit]:hover, .butn.light-butn.second-butn:hover, .form-container input.light-butn.second-butn[type=submit]:hover, .form-container:hover input.light-butn[type=submit]:hover, .file-wrap .light-butn.ic:hover, .serv-item .wrap .light-butn.select-butn:hover, .butn.light-butn.white-butn:hover, .form-container input.light-butn.white-butn[type=submit]:hover, .butn.light-butn.grey2-butn:hover, .form-container input.light-butn.grey2-butn[type=submit]:hover, .butn.light-butn.red-butn:hover, .form-container input.light-butn.red-butn[type=submit]:hover, .butn.light-butn.green-butn:hover, .form-container input.light-butn.green-butn[type=submit]:hover, .butn.light-butn.font-butn:hover, .form-container input.light-butn.font-butn[type=submit]:hover, .butn.light-butn.black-butn:hover, .form-container input.light-butn.black-butn[type=submit]:hover, .form-container input.light-butn.bordered[type=submit], .file-wrap .light-butn.bordered.ic, .serv-item .wrap .light-butn.bordered.select-butn {
      background: transparent; }
      .butn.light-butn.bordered:hover, .butn.light-butn.main-butn:hover, .form-container input.light-butn.main-butn[type=submit]:hover, .butn.light-butn.second-butn:hover, .form-container input.light-butn.second-butn[type=submit]:hover, .form-container:hover input.light-butn[type=submit]:hover, .file-wrap .light-butn.ic:hover, .serv-item .wrap .light-butn.select-butn:hover, .butn.light-butn.white-butn:hover, .form-container input.light-butn.white-butn[type=submit]:hover, .butn.light-butn.grey2-butn:hover, .form-container input.light-butn.grey2-butn[type=submit]:hover, .butn.light-butn.red-butn:hover, .form-container input.light-butn.red-butn[type=submit]:hover, .butn.light-butn.green-butn:hover, .form-container input.light-butn.green-butn[type=submit]:hover, .butn.light-butn.font-butn:hover, .form-container input.light-butn.font-butn[type=submit]:hover, .butn.light-butn.black-butn:hover, .form-container input.light-butn.black-butn[type=submit]:hover, .form-container input.light-butn.bordered[type=submit]:hover, .butn.light-butn.bordered:focus, .butn.light-butn.main-butn:focus:hover, .form-container input.light-butn.main-butn[type=submit]:focus:hover, .butn.light-butn.second-butn:focus:hover, .form-container input.light-butn.second-butn[type=submit]:focus:hover, .form-container:hover input.light-butn[type=submit]:focus:hover, .file-wrap .light-butn.ic:focus:hover, .serv-item .wrap .light-butn.select-butn:focus:hover, .butn.light-butn.white-butn:focus:hover, .form-container input.light-butn.white-butn[type=submit]:focus:hover, .butn.light-butn.grey2-butn:focus:hover, .form-container input.light-butn.grey2-butn[type=submit]:focus:hover, .butn.light-butn.red-butn:focus:hover, .form-container input.light-butn.red-butn[type=submit]:focus:hover, .butn.light-butn.green-butn:focus:hover, .form-container input.light-butn.green-butn[type=submit]:focus:hover, .butn.light-butn.font-butn:focus:hover, .form-container input.light-butn.font-butn[type=submit]:focus:hover, .butn.light-butn.black-butn:focus:hover, .form-container input.light-butn.black-butn[type=submit]:focus:hover, .form-container input.light-butn.bordered[type=submit]:focus, .file-wrap .light-butn.bordered.ic:focus, .serv-item .wrap .light-butn.bordered.select-butn:focus {
        border-color: #EEEBFB; }
  .butn.black-butn, .form-container input.black-butn[type=submit], .file-wrap .black-butn.ic, .serv-item .wrap .black-butn.select-butn {
    background: #000;
    border-color: #000; }
    .butn.black-butn.bordered, .file-wrap .black-butn.ic:hover, .serv-item .wrap .black-butn.select-butn:hover, .butn.black-butn:hover, .form-container input.black-butn[type=submit]:hover, .form-container input.black-butn.bordered[type=submit], .file-wrap .black-butn.bordered.ic, .serv-item .wrap .black-butn.bordered.select-butn {
      color: #000;
      background: transparent; }
      .butn.black-butn.bordered:hover, .file-wrap .black-butn.ic:hover, .serv-item .wrap .black-butn.select-butn:hover, .butn.black-butn:hover, .form-container input.black-butn[type=submit]:hover, .butn.black-butn.bordered:focus, .file-wrap .black-butn.ic:focus:hover, .serv-item .wrap .black-butn.select-butn:focus:hover, .butn.black-butn:focus:hover, .form-container input.black-butn[type=submit]:focus:hover, .form-container input.black-butn.bordered[type=submit]:focus, .file-wrap .black-butn.bordered.ic:focus, .serv-item .wrap .black-butn.bordered.select-butn:focus {
        border-color: #000; }
  .butn.top-right-rad-0, .form-container input.top-right-rad-0[type=submit], .file-wrap .top-right-rad-0.ic, .serv-item .wrap .top-right-rad-0.select-butn {
    border-top-right-radius: 0; }
  .butn.top-left-rad-0, .form-container input.top-left-rad-0[type=submit], .file-wrap .top-left-rad-0.ic, .serv-item .wrap .top-left-rad-0.select-butn {
    border-top-left-radius: 0; }
  .butn.bottom-right-rad-0, .form-container input.bottom-right-rad-0[type=submit], .file-wrap .bottom-right-rad-0.ic, .serv-item .wrap .bottom-right-rad-0.select-butn {
    border-bottom-right-radius: 0; }
  .butn.bottom-left-rad-0, .form-container input.bottom-left-rad-0[type=submit], .file-wrap .bottom-left-rad-0.ic, .serv-item .wrap .bottom-left-rad-0.select-butn {
    border-bottom-left-radius: 0; }
  .butn.back img, .form-container input.back[type=submit] img, .file-wrap .back.ic img, .serv-item .wrap .back.select-butn img, .butn.next img, .form-container input.next[type=submit] img, .file-wrap .next.ic img, .serv-item .wrap .next.select-butn img {
    padding-top: 5px;
    width: 50px; }
  .butn.disabled, .form-container input.disabled[type=submit], .file-wrap .disabled.ic, .serv-item .wrap .disabled.select-butn, .butn[disabled=disalbed], .form-container input[disabled=disalbed][type=submit], .file-wrap [disabled=disalbed].ic, .serv-item .wrap [disabled=disalbed].select-butn {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    -o-opacity: 0.4;
    -ms-opacity: 0.4;
    opacity: 0.4; }

.middle, .aa-check:after, .aa-radio:after, input[type=radio]::before, input[type=checkbox]::before, .aa-check-select::before, .upload-area .icon-area, .upload-vid .icon-area, .upload-file .icon-area, .upload-area .file-name, .upload-vid .file-name, .upload-file .file-name {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.count-badge {
  top: 0;
  right: 0;
  background: #EC1941; }

/***********
*
* Bootstrap Style
*
***********/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #000; }

.popup-container {
  z-index: 99999999; }
  .popup-container .popup {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    z-index: 99; }
    .popup-container .popup .content video, .popup-container .popup .content iframe, .popup-container .popup .content img {
      margin: 0 auto;
      width: 100% !important;
      height: 100% !important;
      padding: 10px; }
    .popup-container .popup#popupimg {
      z-index: 99; }

.closeView {
  top: 10px;
  right: 10px;
  z-index: 99999;
  width: 50px;
  height: 50px;
  font-size: 26px;
  line-height: 50px; }
  .closeView i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    line-height: 50px; }

.modal .close {
  width: 5px;
  background-size: 101% !important; }
  .modal .close, .modal .close span {
    margin: 0 auto;
    z-index: 9; }
  .modal .close span {
    width: 50px;
    height: 25px;
    margin: 0 auto;
    left: -8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    .modal .close span::before, .modal .close span::after {
      background: transparent;
      width: 50%;
      height: 0;
      top: 0;
      right: 1px;
      left: 1px;
      margin: auto;
      border-top: 2px solid #000; }
    .modal .close span::before {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .modal .close:hover span {
    left: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
    .modal .close:hover span::before, .modal .close:hover span::after {
      border-top: 5px dotted #000; }

[data-toggle=collapse] .fl-left {
  width: 85%; }
[data-toggle=collapse] .fl-right {
  width: 15%; }

.def-border, .upload-area, .upload-vid, .upload-file {
  border: 2px solid #A7B6BF; }

.def-border-top {
  border-top: 2px solid #A7B6BF; }

.def-border-bottom {
  border-bottom: 2px solid #A7B6BF; }

.def-border-right {
  border-right: 2px solid #A7B6BF; }

.def-border-left {
  border-left: 2px solid #A7B6BF; }

.form-group .form-control {
  border: 1 solid #A7B6BF;
  padding: 10px 20px 10px 20px; }
  .form-group .form-control.white {
    border: 2px solid #eae9f1 !important; }
  .form-group .form-control.disabled {
    background: #eae9f1;
    border: 2px solid #eae9f1; }
  .form-group .form-control.mini {
    font-size: 14px;
    padding: 10px 5px; }
  .form-group .form-control.big {
    font-size: inherit;
    padding: 20px 30px; }
.form-group ::-webkit-input-placeholder {
  /* Edge */
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5; }
.form-group :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5; }
.form-group ::placeholder {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5; }
.form-group .input-group-append .input-group-text, .form-group .input-group-prepend .input-group-text {
  border: 0; }
.form-group i:not(.not) {
  top: auto;
  bottom: 15px;
  left: 20px; }
  .form-group i:not(.not) img {
    width: 20px; }
.form-group .input-group-append, .form-group .input-group-prepend {
  padding-top: 10px; }
.form-group.mini {
  padding: 5px;
  margin: 0; }

.tooltip {
  z-index: 999999; }

.tooltip-arrow,
.tooltip > .tooltip-inner {
  background-color: #000; }

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #000; }

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #000; }

.dropdown-toggle::after {
  display: none; }

/* open dropdown menu on hover */
.dropdown {
  /*  &:hover {
      .dropdown-menu {
        @extend .border-0;
        @extend .shadow;
        display: block;
        margin-top: 0;
        font-size: 13px;
      }
    }*/ }
  .dropdown .dropdown-menu {
    margin-top: 0;
    font-size: 13px; }

/***********
*
* Main Style
*
***********/
.arrows {
  width: 150px; }
  .arrows .next, .arrows .prev {
    top: calc(50% - 50px);
    font-size: 20px;
    bottom: auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid transparent;
    z-index: 33; }
    .arrows .next img, .arrows .prev img {
      height: 20px;
      margin: auto; }
    .arrows .next:hover, .arrows .prev:hover {
      border-color: #00402F; }
  .arrows .next {
    right: 20px;
    left: auto; }
    .arrows .next:hover {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .arrows .prev {
    left: 20px;
    right: auto; }
    .arrows .prev:hover {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }

.aa-switch-check {
  background: transparent;
  border-radius: 50px;
  width: 35px;
  height: 15px;
  border: 1px solid #0A9973;
  outline: none;
  color: #fff; }
  .aa-switch-check:after {
    left: auto;
    right: 5px;
    top: 3px;
    font-size: 8pt; }
  .aa-switch-check::before {
    width: 11px;
    height: 11px;
    left: 1.5px;
    top: 1px; }
  .aa-switch-check:checked {
    border-color: #00402F; }
    .aa-switch-check:checked::before {
      left: auto;
      right: 1.5px; }
    .aa-switch-check:checked::after {
      left: 5px;
      right: auto; }

.aa-check, .aa-radio {
  width: 20px;
  height: 20px;
  outline: none;
  margin-right: 10px; }
  .aa-check:before, .aa-radio:before {
    width: 100%;
    height: 100%;
    border: 1px solid #D5D5D5; }
  .aa-check:after, .aa-radio:after {
    background: #00402F;
    width: 50%;
    height: 50%;
    left: 1px;
    right: 1px;
    margin: auto;
    display: none; }
  .aa-check:checked:after, .aa-radio:checked:after {
    display: block; }

input[type=radio], input[type=checkbox] {
  border: 2px solid #000;
  outline: 0;
  width: 20px;
  height: 20px;
  top: 5px;
  padding: 0; }
  input[type=radio]::before, input[type=checkbox]::before {
    padding: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 12px;
    height: auto;
    margin: auto;
    background-image: url("../imgs/icons/check.svg"); }
  input[type=radio]:checked, input[type=checkbox]:checked {
    border-color: #00402F; }

.aa-check-select {
  border: 1px solid #3F4241;
  outline: 0;
  width: 20px;
  height: 20px;
  top: 5px;
  padding: 0; }
  .aa-check-select::before {
    padding: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 13px;
    height: auto;
    margin: auto;
    background-image: url("../imgs/icons/check.svg"); }
  .aa-check-select:checked {
    border-color: #50D559; }

.before {
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  z-index: 1; }
  .before.before-20 {
    width: 20%; }
  .before.before-30 {
    width: 30%; }
  .before.before-40 {
    width: 40%; }
  .before.before-50 {
    width: 50%; }
  .before.before-60 {
    width: 60%; }
  .before.before-70 {
    width: 70%; }
  .before.before-80 {
    width: 80%; }
  .before.before-90 {
    width: 90%; }
  .before.before-100 {
    width: 100%; }
  .before.bottom {
    background-position: bottom; }

.upload-area, .upload-vid, .upload-file {
  height: 200px; }
  .upload-area .before, .upload-area .vid-wrap, .upload-vid .before, .upload-vid .vid-wrap, .upload-file .before, .upload-file .vid-wrap {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  .upload-area .vid-wrap.active, .upload-vid .vid-wrap.active, .upload-file .vid-wrap.active {
    z-index: 9; }
  .upload-area input[type=file], .upload-vid input[type=file], .upload-file input[type=file] {
    outline: 0;
    width: 100%;
    height: 100%;
    z-index: 9; }
  .upload-area .icon-area, .upload-vid .icon-area, .upload-file .icon-area {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1px;
    left: 1px;
    margin: 0 auto; }
  .upload-area .del-img, .upload-area .del-vid, .upload-area .change-img, .upload-vid .del-img, .upload-vid .del-vid, .upload-vid .change-img, .upload-file .del-img, .upload-file .del-vid, .upload-file .change-img {
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    top: 15px;
    left: 15px;
    padding: 7px;
    z-index: 999; }
  .upload-area .file-name, .upload-vid .file-name, .upload-file .file-name {
    z-index: 3;
    right: 1px;
    left: 1px;
    margin: auto; }
  .upload-area .del-file, .upload-vid .del-file, .upload-file .del-file {
    right: 1px;
    left: 1px;
    margin: auto;
    bottom: 10px;
    z-index: 9999; }
  .upload-area .change-img, .upload-vid .change-img, .upload-file .change-img {
    width: 35px;
    top: 15px;
    left: auto;
    right: 15px;
    padding: 5px;
    z-index: 1; }

select {
  height: auto !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../imgs/icons/arrow-bottom.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 12px);
  background-position-y: 17px; }
  select:focus {
    background-image: url("../imgs/icons/arrow-up.svg"); }

@keyframes rotat {
  0%, 100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg); } }
@-webkit-keyframes rotat {
  0%, 100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg); } }
@keyframes inversrotat {
  0%, 100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg); } }
@-webkit-keyframes inversrotat {
  0%, 100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  50% {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg); } }
.container, .container-fluid {
  z-index: 3; }

.main-title {
  font-family: Poppins, Arial; }

.sub-title, body, body a, html, html a {
  font-family: Poppins, Arial; }

body, html {
  background-color: #FBFAFD;
  scroll-behavior: smooth; }

body {
  padding: 0 !important; }

.logo {
  width: 80px; }

.top-header {
  min-height: 200px; }

#topbar {
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999; }
  #topbar .open-menu {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 2px solid #ffffff; }
    #topbar .open-menu::before, #topbar .open-menu::after, #topbar .open-menu span {
      height: 2px;
      width: calc(100% - 15px);
      right: 1px;
      left: 1px;
      margin: auto; }
    #topbar .open-menu::before {
      top: 10px; }
    #topbar .open-menu::after {
      top: auto;
      bottom: 10px; }
    #topbar .open-menu span {
      top: 17px; }
    #topbar .open-menu:hover span, #topbar .open-menu.active span {
      width: 0; }
    #topbar .open-menu:hover::before, #topbar .open-menu.active::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 17px; }
    #topbar .open-menu:hover::after, #topbar .open-menu.active::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 11px; }
    #topbar .open-menu.light {
      border-color: #ffffff; }
  #topbar.darkbar:not(.lighter) .open-menu {
    border-color: #00402F; }
  #topbar.darkbar.not-darker .open-menu {
    border-color: #ffffff; }
  #topbar.scrolling .logo .icon {
    display: none !important; }

.pro-map iframe {
  width: 100% !important;
  height: 300px !important; }

.top-menu {
  width: 250px;
  top: 0;
  bottom: 0;
  left: -250px;
  z-index: 10; }
  .top-menu .wrap {
    height: 100%;
    padding: 150px 30px; }
    .top-menu .wrap a:not(.close-menu) {
      text-transform: uppercase; }
    .top-menu .wrap .close-menu img {
      height: 25px; }
  .top-menu.show {
    left: 0; }
  .top-menu.full-menu {
    width: 100%;
    left: 0;
    right: 0;
    height: auto; }

#MainSlider .scroll-down {
  top: 300px;
  right: 1px;
  left: 1px;
  margin: auto; }
#MainSlider .carousel-item {
  min-height: 100vh; }
  #MainSlider .carousel-item::before {
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    -o-opacity: 0.65;
    -ms-opacity: 0.65;
    opacity: 0.65;
    width: 100%;
    height: 100%;
    z-index: 1; }
  #MainSlider .carousel-item .content {
    z-index: 9;
    top: 35%;
    right: 1px;
    left: 1px;
    margin: auto; }
    #MainSlider .carousel-item .content .logo-name {
      width: 100%;
      right: 1px;
      left: 1px;
      margin: auto; }
      #MainSlider .carousel-item .content .logo-name.move {
        left: -150vw;
        transition-duration: 1s; }
  #MainSlider .carousel-item.active .content .logo-name.move {
    left: 1px; }

.scroll-down svg {
  width: 30px; }
.scroll-down:hover svg {
  margin-top: 10px; }
  .scroll-down:hover svg path, .scroll-down:hover svg rect {
    stroke: #0A9973; }

.faq-content .head {
  font-weight: 600;
  padding: 25px 40px 25px 20px;
  border-top: 2px solid #00402F; }
  .faq-content .head .before {
    width: 25px;
    height: 25px;
    right: 25px;
    top: 10px;
    left: auto; }
    .faq-content .head .before svg {
      width: 25px; }
      .faq-content .head .before svg path, .faq-content .head .before svg rect, .faq-content .head .before svg circle {
        stroke: #00402F; }
  .faq-content .head[aria-expanded=true] .before svg {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    .faq-content .head[aria-expanded=true] .before svg path, .faq-content .head[aria-expanded=true] .before svg rect, .faq-content .head[aria-expanded=true] .before svg circle {
      stroke: #0A9973; }
.faq-content .body {
  padding: 20px; }
  .faq-content .body ul {
    margin-top: 10px;
    padding: 15px; }

.main-photo {
  margin-bottom: -150px; }
  .main-photo .img {
    height: 650px; }

.sd-item .wrapper {
  padding-top: 50px;
  padding-bottom: 50px; }

.main-footer .before {
  -webkit-opacity: 0.55;
  -moz-opacity: 0.55;
  -o-opacity: 0.55;
  -ms-opacity: 0.55;
  opacity: 0.55;
  z-index: 1; }
.main-footer .butn, .main-footer .form-container input[type=submit], .form-container .main-footer input[type=submit], .main-footer .file-wrap .ic, .file-wrap .main-footer .ic, .main-footer .serv-item .wrap .select-butn, .serv-item .wrap .main-footer .select-butn {
  max-width: max-content; }

.form-container .form-control {
  border: 2px solid white;
  font-size: 1.2rem;
  border-radius: 100px; }
.form-container ::-webkit-input-placeholder {
  /* Edge */
  color: #ffffff; }
.form-container :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff; }
.form-container ::placeholder {
  color: #ffffff; }
.form-container:hover ::-webkit-input-placeholder {
  /* Edge */
  color: #3F4241; }
.form-container:hover :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3F4241; }
.form-container:hover ::placeholder {
  color: #3F4241; }

.file-wrap {
  border-bottom: 2px solid #00402F; }
  .file-wrap .ic {
    bottom: 10px;
    right: 0;
    z-index: 1; }
  .file-wrap .form-control {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    opacity: 0;
    width: 100%;
    z-index: 9; }
  .file-wrap .delete-icon {
    z-index: 12; }

.select-wrap::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #00402F;
  border-left: 2px solid #00402F;
  right: 0;
  bottom: 20px;
  top: auto;
  left: auto; }
.select-wrap.focused::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.div {
  width: 100%;
  height: 3px; }

.steps-bar {
  margin-bottom: 40px; }
  .steps-bar .step:not(:last-child)::after {
    height: 3px;
    width: auto;
    left: 50%;
    right: -50%;
    bottom: 20px;
    top: auto;
    z-index: 1; }
  .steps-bar .step .ti span {
    padding: 15px 20px;
    margin-bottom: 30px; }
    .steps-bar .step .ti span::before {
      width: 0;
      height: 0;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      border-top: 15px solid #00402F;
      top: auto;
      bottom: -13px;
      right: 1px;
      left: 1px;
      margin: auto; }
  .steps-bar .step .num {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .steps-bar .step .ti, .steps-bar .step .num {
    z-index: 2; }
  .steps-bar .step.active .ti span::before {
    border-top-color: #0A9973; }

.request-projectt .form-group .form-control {
  padding: 20px;
  margin-bottom: 60px;
  border: 0;
  border-bottom: 3px solid #00402F; }
  .request-projectt .form-group .form-control + label {
    top: 15px;
    font-weight: 500; }
  .request-projectt .form-group .form-control:focus + label, .request-projectt .form-group .form-control.not-empty + label {
    top: -10px; }
  .request-projectt .form-group .form-control.error {
    border-color: #EC1941; }
  .request-projectt .form-group .form-control.success {
    border-color: #0A9973; }

.serv-item .wrap {
  width: 100%;
  margin-bottom: 20px;
  padding: 60px 40px; }
  .serv-item .wrap .img {
    width: 150px;
    height: 150px;
    margin: 0 auto 40px auto;
    padding: 40px; }
    .serv-item .wrap .img::before {
      width: 100%;
      height: 100%;
      top: 0; }
  .serv-item .wrap .title {
    margin-bottom: 30px; }
  .serv-item .wrap .select-butn {
    margin-top: 40px; }
.serv-item.active .select-butn .selected {
  display: block; }

.color-calendar.basic {
  width: 100%;
  max-width: 100%; }

.color-calendar.basic .calendar__header {
  background: #0A9973;
  padding: 25px 10px; }

.color-calendar.basic .calendar__header,
.color-calendar.basic .calendar__weekdays {
  display: flex; }

.color-calendar.basic .calendar__weekdays .calendar__weekday {
  width: calc(100% / 7);
  text-align: center; }

.color-calendar .calendar__days {
  grid-template-columns: repeat(7, minmax(20px, calc(100% / 7))); }

.color-calendar .calendar__days .calendar__day {
  padding: 30px 0; }

.color-calendar.basic .calendar__days .calendar__day-selected .calendar__day-text {
  color: #ffffff; }

.paid-tabs .paid-tab {
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: -1; }
  .paid-tabs .paid-tab.active {
    z-index: 9; }

/*# sourceMappingURL=main.css.map */
