/**
 * Fast Bee Website
 * Version: 1.1
 * Powerd by:
 * Designer: Ayat Ahmed | instagram.com/ayaat.a7med
 * Copyrights 2021
 */
@import "vars";
@import "rtlmedia";
@import "rtlfonts";
@import "mixins";

.flip-y {
  @include transF(rotateY(180deg));
}

.flip-x {
  @include transF(rotateX(180deg));
}

body, html, .slick-slider {
  direction: rtl;
  font-family: "DroidArabicKufi", Arial;
}

.main-title, body a, body a:hover {
  font-family: "DroidArabicKufi", Arial;
}

.transform-none {
  @include transF(none);
}

.text-right, .txt-right {
  text-align: left;
}

.text-left, .txt-left {
  text-align: right;
}

.owl-carousel,
#booking-startingtime input[type=range],
.arrows,
.creatores-images {
  direction: ltr;
}

.fa-star-half {
  @extend .flip-y;
}

.aa-switch-check::before {
  left: 1.5px;
  right: auto;
}

.fl-right,
.sub-media .arrows {
  float: left;
}

.fl-left {
  float: right;
}

.butn {

  &.top-right-rad-0 {
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
  }
  &.top-left-rad-0 {
    border-top-right-radius: 0;
    border-top-left-radius: 50px;
  }
  &.bottom-right-rad-0 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50px;
  }
  &.bottom-left-rad-0 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50px;
  }
}

.fa-star-half-alt {
  @extend .flip-y;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 20px;
  right: auto;
}

.form-control{
  text-align: right;
}
.faq-content .head .before {
  left: 25px;
  right: auto;
}
.steps-bar .step:not(:last-child)::after {
  right: 50%;
  left: -50%;
}
.select-wrap::before{
  right: auto;
  left: 0;
}
.file-wrap .ic {
  left: 0;
  right: auto;
}