/**
 * Fast Bee Website
 * Version: 1.1
 * Powerd by:
 * Designer: Ayat Ahmed | instagram.com/ayaat.a7med
 * Copyrights 2021
 */
/***********
*
* vars
*
***********/
@media (min-width: 992px) {
  .offset-lg-2 {
    margin-right: 16.66667%;
    margin-left: 0; }

  .offset-lg-1 {
    margin-right: 8.33333%;
    margin-left: 0; }

  .offset-lg-8 {
    margin-left: 66.66667%;
    margin-right: 0; }

  .ml-lg-2, .mx-lg-2 {
    margin-right: .5rem !important; }

  .text-lg-right {
    text-align: left; }

  .text-lg-left {
    text-align: right; }

  .fl-lg-right {
    float: left; }

  .fl-lg-left {
    float: right; }

  .fl-lg-none {
    float: none; }

  .txt-lg-right {
    text-align: left; }

  .txt-lg-left {
    text-align: right; }

  .txt-lg-center {
    text-align: center; }

  .def-border-lg-right:not(.def-border-lg-left) {
    border-left: 1px solid #C0C0C0;
    border-right: 0; }

  .def-border-lg-left:not(.def-border-lg-right) {
    border-right: 1px solid #C0C0C0;
    border-left: 0; }

  .form-container input[type=submit] {
    left: 12px;
    right: auto; }

  .form-container .form-control {
    padding: 20px 40px 20px 200px !important; } }
@media (min-width: 1200px) {
  .fl-xl-right {
    float: left; }

  .fl-xl-left {
    float: right; } }
@font-face {
  font-family: 'DroidArabicKufi';
  font-style: normal;
  src: url(../webfonts/ar/DroidKufiRegular.eot);
  src: url(../webfonts/ar/DroidKufiRegular.eot?#iefix) format("embedded-opentype"), url(../webfonts/ar/DroidKufiRegular.woff2) format("x-woff2"), url(../webfonts/ar/DroidKufiRegular.woff) format("woff"), url(../webfonts/ar/DroidKufiRegular.ttf) format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'DroidArabicKufi';
  src: url(../webfonts/ar/DroidKufiBold.ttf) format("truetype");
  font-weight: 900; }
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Light"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100; }
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semilight"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200; }
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400; }
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Bold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 600; }
@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 700; }
/*
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../webfonts/ar/Montserrat-ArabicLight.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../webfonts/ar/Montserrat-ArabicRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../webfonts/ar/Montserrat-ArabicMedium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../webfonts/ar/Montserrat-ArabicSemiBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../webfonts/ar/Montserrat-ArabicBold.ttf");
  font-weight: bold;
  font-style: normal;
}
*/
/***********
*
* Style Functions
*
***********/
.flip-y, .fa-star-half, .fa-star-half-alt {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.flip-x {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg); }

body, html, .slick-slider {
  direction: rtl;
  font-family: "DroidArabicKufi", Arial; }

.main-title, body a, body a:hover {
  font-family: "DroidArabicKufi", Arial; }

.transform-none {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none; }

.text-right, .txt-right {
  text-align: left; }

.text-left, .txt-left {
  text-align: right; }

.owl-carousel,
#booking-startingtime input[type=range],
.arrows,
.creatores-images {
  direction: ltr; }

.aa-switch-check::before {
  left: 1.5px;
  right: auto; }

.fl-right,
.sub-media .arrows {
  float: left; }

.fl-left {
  float: right; }

.butn.top-right-rad-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 50px; }
.butn.top-left-rad-0 {
  border-top-right-radius: 0;
  border-top-left-radius: 50px; }
.butn.bottom-right-rad-0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 50px; }
.butn.bottom-left-rad-0 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 50px; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 20px;
  right: auto; }

.form-control {
  text-align: right; }

.faq-content .head .before {
  left: 25px;
  right: auto; }

.steps-bar .step:not(:last-child)::after {
  right: 50%;
  left: -50%; }

.select-wrap::before {
  right: auto;
  left: 0; }

.file-wrap .ic {
  left: 0;
  right: auto; }

/*# sourceMappingURL=rtl.css.map */
